<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento enterprise edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-onestepcheckout-review-cart">
    <div id="aw-onestepcheckout-review-table-cart-wrapper">
        <?php echo $this->getHelperTimerBlockHtml();?>
        <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item)?>
        <?php endforeach ?>
        <?php echo $this->getChildHtml('totals'); ?>
    </div>
</div>
<script type="text/javascript">
    var awOSCReviewCartBlock = new AWOnestepcheckoutReviewCart({
        containerSelector: "#aw-onestepcheckout-review-cart",
        relatedBlockContainerSelector: "#aw-onestepcheckout-related-wrapper",
        useForShippingCheckboxContainerSelector: "#aw-onestepcheckout-billing-use-for-shipping",
        removeLinkSelector: ".aw-onestepcheckout-cart-table a.btn-remove2",
        urlToUpdateBlocksAfterACP: <?php echo Zend_Json::encode($this->getUrlToUpdateBlocksAfterACP()); ?>,
        overlayConfig: {
            '48px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-48',
            '24px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-24',
            '16px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-16'
        }
    });
</script>