<div class="fpd-browser-alert">
	<p><strong><?php echo $this->__('Votre navigateur ne prend pas en charge la personnalisation.') ?></strong><br /><?php echo $this->__('Veuillez mettre à jour votre navigateur') ?> :</p>
	<span><a href="http://www.mozilla.org/firefox/new/" title="<?php echo $this->__('Télécharger') ?> Firefox" class="firefox">Firefox</a><a href="http://www.google.com/Chrome" title="<?php echo $this->__('Télécharger') ?> Chrome" class="chrome">Chrome</a><a href="http://www.opera.com/download/" title="<?php echo $this->__('Télécharger') ?> Opera" class="opera">Opera</a></span>
</div>