<?php if ($this->getMenu()): ?>
	<?php if ($this->getPosition() !='top'): ?>
		<ul>
			<?php echo $this->renderMenuHtml() ?>
		</ul>
	<?php else: ?>	
		<div id="main-navigation">
			<div class="main-nav-wrapper">
				<div class="container-fluid">
					<div class="nav-center">
						<nav id="main-menu">
							<ul>
								<?php echo $this->renderMenuHtml() ?>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0);" id="close_bmenu"><i class="fa fa-times"></i></a>
	<?php endif ?>
<?php endif ?>