<?php
$_item     = $this->getItem();
$_instance = $_item->getTypeInstance();
$_level    = $_item->getLevel() - 1;
$_attr = $_item->getAttr();
$_childHtml = $this->getChildrenHtml();
$mainClass = array();
if ($_childHtml)
    $mainClass[] = 'mega-menu';
if (isset($_attr['is_red']) && $_attr['is_red'] == 1)
    $mainClass[] = 'link-red';
if (isset($_attr['mobile']) && $_attr['mobile'] == 0)
    $mainClass[] = 'hide-small';
$mainClass = $mainClass ? implode(' ', $mainClass) : false;
$mainClass = $mainClass ? ' class="'.$mainClass.'"' : '';

$subClass = array();
if ($_level == 1)
    $subClass[] = 'menu-title';
if ($_childHtml)
    $subClass[] = 'top-level-menu';
$subClass = $subClass ? implode(' ', $subClass) : false;
$subClass = $subClass ? ' class="'.$subClass.'"' : '';
?>
<li<?php echo $mainClass; ?>>
    <a href="<?php echo $_instance->getUrl() ?: 'javascript:void(0);' ?>"<?php echo $subClass; ?>><?php echo $_item->getName() ?><?php if ($_childHtml): ?><i class="fa fa-chevron-down" aria-hidden="true"></i><?php endif ?></a>
    <?php if ($_childHtml): ?>
        <div class="mega-menu-content clearfix">
            <ul>
                <?php echo $_childHtml ?>
            </ul>
        </div>
    <?php endif ?>
</li>