<section class="section section-newsletter t-center amber lighten-2 p-t-0">
	<div class="container">
		<div class="row">
			<?php echo $this->getChildHtml('product_newsletter') ?>
		</div>
	</div>
</section>
<section class="section p-t-0">
	<div class="container-large">
		<?php if ($about = $this->getAbout()): ?>
			<div class="title title-center m-b-10">
				<i class="nc-icon-outline business_bulb-61"></i>
				<h3><?php echo $about['title'] ?></h3>
			</div>
			<div class="row m-b-30">
				<div class="col-lg-10 col-lg-offset-1 title-center">
					<?php echo $about['text'] ?>
				</div>
			</div>
		<?php endif ?>
		<?php $relay = $this->getRelay() ?>
		<?php if ($relay): ?>
			<div class="row">
				<?php $delay = 200; ?>
				<?php foreach ($relay as $_data): ?>
					<div class="col-lg-4">
						<div class="event m-b-0" data-aos="fade-up" data-aos-delay="<?php echo $delay ?>">
							<div>
								<img src="<?php echo $_data['icon'] ?>" class="img-fluid" alt="<?php echo $this->escapeHtml($_data['label']); ?>" height="45">
							</div>
							<?php $link = $_data['cms'] ?: '' ?>
							<div class="event-info">
								<h2 class="event-title"><a href="<?php echo $link ?>"><?php echo $_data['label'] ?></a></h2>
								<div class="event-desc">
									<p><?php echo $_data['text'] ?></p>
									<div class="posts">
										<div class="post">
											<?php $button = $_data['link'] ?: $_data['labelcms'] ?>
											<a href="<?php echo $link ?>" class="more"><?php echo $button ?></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<?php $delay+= 100; ?>
				<?php endforeach ?>
			</div>
		<?php endif ?>
	</div>
</section>
<?php $grid = $this->getGrid(); ?>
<?php if ($grid): ?>
	<?php foreach ($grid as $iData => $_data): ?>
		<?php $iData++; ?>
		<?php $cnt = $iData%2 == 0 ? 'last' : 'first' ?>
		<section id="homepage_half" class="section half-section half-section-<?php echo $cnt; ?>">
			<?php if ($iData%2 == 0): ?>
				<div class="img-cover" data-bg-img="<?php echo $_data['icon']; ?>"></div>
			<?php endif ?>
			<div class="text-element<?php echo $iData%2 != 0 ? ' deep-purple lighten-5' : ''; ?>">
				<div class="text-element-wrapper">
					<div class="text-element-inner">
						<div class="title icon-right-big">
							<?php if ($smallLabel = $_data['label']): ?>							
								<p class="subtitle"><?php echo $smallLabel ?></p>
							<?php endif ?>
							<h2><?php echo $_data['title'] ?></h2>
						</div>
						<p><?php echo $_data['text'] ?></p>
						<?php $link = $_data['cms'] ?: '' ?>
						<?php $button = $_data['link'] ?: $_data['labelcms'] ?>
						<a href="<?php echo $link ?>" class="btn btn-lg btn-primary m-t-30 go-next"><?php echo $button ?></a>
					</div>
				</div>
			</div>
			<?php if ($iData%2 != 0): ?>
				<div class="img-cover" data-bg-img="<?php echo $_data['icon']; ?>"></div>
			<?php endif ?>
		</section>
	<?php endforeach ?>
<?php endif ?>
<?php $blocs = $this->getBlocs() ?>
<section id="homepage_blocs" class="container-fluid p-l-10 p-r-10 p-b-10 p-t-10">
	<div class="grid grid-4" data-equal-height-items="1">
		<div class="item item-wide item-tall" data-equal-height-sub="1">
			<div class="col-sm-6 sub-item">
				<a href="<?php echo Mage::helper('onio_faq')->getFaqUrl() ?>" class="item-wrapper deep-purple lighten-5">
					<div class="text-element">
						<div class="text-element-wrapper">
							<div class="title icon-right">
								<h3><?php echo $blocs['p2label'] ?></h3>
								<span class="subtitle"><?php echo $blocs['p2text'] ?></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 sub-item">
				<div class="item-wrapper img-cover" data-bg-img="<?php echo $this->getMediaUrl($blocs['p2img']); ?>">
				</div>
			</div>
			<div class="col-sm-6 sub-item">
				<div class="item-wrapper img-cover" data-bg-img="<?php echo $this->getMediaUrl($blocs['p3img']); ?>">
				</div>
			</div>
			<div class="col-sm-6 sub-item">
				<a href="<?php echo Mage::helper('cms/page')->getPageUrl( $blocs['p3cms'] ) ?>" class="item-wrapper deep-purple lighten-5">
					<div class="text-element">
						<div class="text-element-wrapper">
							<div class="title icon-right">
								<h3><?php echo $blocs['p3label'] ?></h3>
								<span class="subtitle"><?php echo $blocs['p3text'] ?></span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="item item-wide item-tall">
			<div class="item-wrapper img-cover" data-bg-img="<?php echo $this->getMediaUrl($blocs['p1img']); ?>">
			</div>
		</div>
	</div>
</section>