<section id="homepage_products" class="m-10 m-b-0">
	<div class="container">
		<div class="row">
			<?php $homeList = $this->getHomeList(); ?>
			<?php if ($homeList): ?>
				<?php foreach ($homeList as $_hp): ?>
					<?php $max = 3; ?>
					<?php $class = 'col-lg-4 col-md-6 col-sm-6'; ?>
					<?php if ($_hp->getId() == 1): ?>
						<?php $max = 2; ?>
					<?php endif ?>
					<?php if ($_hp->getId() == 2): ?>
						<?php $max = 2; ?>
						<?php $class = 'col-lg-4 col-md-6 col-sm-6 col-lg-push-4'; ?>
					<?php elseif ($_hp->getId() == 3): ?>
						<?php $class = 'col-lg-4 col-md-12 col-sm-12 col-lg-pull-4'; ?>
					<?php endif ?>
					<div class="<?php echo $class ?>">
						<?php for ($i=1; $i<=$max ; $i++): ?>
							<?php if (($i == 1 && $_hp->getId() == 1) || ($i == 2 && $_hp->getId() == 2)): ?>
								<?php $aClass = 'img-cover customization-link' ?>
							<?php else: ?>
								<?php $aClass = 'img-cover item-link' ?>
							<?php endif ?>
							<?php $img = $this->getMediaUrl($_hp->getData('image'.$i)) ?>
							<?php if ($_hp->getId() == 3): ?>
								<div class="boxed">
							<?php endif ?>
							<a href="<?php echo $_hp->getData('link'.$i) ?>" class="<?php echo $aClass ?>" data-bg-img="<?php echo $img ?>">
								<?php if ( $_hp->getData('promo'.$i)): ?>
									<span class="flag"><?php echo $this->__('Promo') ?></span>
								<?php endif ?>
								<span class="text"><?php echo $_hp->getData('label'.$i) ?></span>
								<span class="button-cta"><span><?php echo $this->__('J\'achète') ?></span></span>
							</a>
							<?php if ($_hp->getData('button'.$i)): ?>							
								<a class="view-all" href="<?php echo $_hp->getData('button_link'.$i) ?>"><?php echo $_hp->getData('button_label'.$i) ?></a>
							<?php endif ?>
							<?php if ($_hp->getId() == 3): ?>
								</div>
							<?php endif ?>
						<?php endfor; ?>
					</div>
				<?php endforeach ?>
			<?php endif ?>
		</div>
	</div>
</section>
<section class="section" id="homepage_icons">
	<div class="container">
		<div class="row">
			<?php if ($icons = $this->getIcons()): ?>
				<?php $delay = 200; ?>
				<?php foreach ($icons as $_data): ?>
					<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="<?php echo $delay ?>">
						<div class="feature-box feature-lg center">
							<div class="icon icon-simple">
								<img src="<?php echo $_data['icon'] ?>" alt="<?php echo $this->escapeHtml($_data['label']); ?>" height="45">
							</div>
							<h3 class="c-dark"><?php echo $_data['label'] ?></h3>
							<p><?php echo $_data['text'] ?></p>
						</div>
					</div>
					<?php $delay+= 100; ?>
				<?php endforeach ?>
			<?php endif ?>
		</div>
	</div>
</section>
<section class="section p-t-0">
	<div class="container-large">
		<?php if ($about = $this->getAbout()): ?>
			<div class="title title-center m-b-10">
				<i class="nc-icon-outline business_bulb-61"></i>
				<h3><?php echo $about['title'] ?></h3>
			</div>
			<div class="row m-b-30">
				<div class="col-lg-10 col-lg-offset-1 title-center">
					<?php echo $about['text'] ?>
				</div>
			</div>
		<?php endif ?>
		<?php $relay = $this->getRelay() ?>
		<?php if ($relay): ?>
			<div class="row">
				<?php $delay = 200; ?>
				<?php foreach ($relay as $_data): ?>
					<div class="col-lg-4">
						<div class="event m-b-0" data-aos="fade-up" data-aos-delay="<?php echo $delay ?>">
							<div>
								<img src="<?php echo $_data['icon'] ?>" class="img-fluid" alt="<?php echo $this->escapeHtml($_data['label']); ?>" height="45">
							</div>
							<?php $link = $_data['cms'] ?: '' ?>
							<div class="event-info">
								<h2 class="event-title"><a href="<?php echo $link ?>"><?php echo $_data['label'] ?></a></h2>
								<div class="event-desc">
									<p><?php echo $_data['text'] ?></p>
									<div class="posts">
										<div class="post">
											<?php $button = $_data['link'] ?: $_data['labelcms'] ?>
											<a href="<?php echo $link ?>" class="more"><?php echo $button ?></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<?php $delay+= 100; ?>
				<?php endforeach ?>
			</div>
		<?php endif ?>
	</div>
</section>
<section class="section section-newsletter t-center amber lighten-2 p-t-0">
	<div class="container">
		<div class="row">
			<?php echo $this->getChildHtml('homepage_newsletter') ?>
		</div>
	</div>
</section>
<?php $grid = $this->getGrid(); ?>
<?php if ($grid): ?>
	<?php foreach ($grid as $iData => $_data): ?>
		<?php $iData++; ?>
		<?php $cnt = $iData%2 == 0 ? 'last' : 'first' ?>
		<?php $aos = $iData%2 == 0 ? 'fade-left' : 'fade-right' ?>
		<section id="homepage_half" class="section half-section half-section-<?php echo $cnt; ?>" data-aos="<?php echo $aos ?>">
			<?php if ($iData%2 == 0): ?>
				<div class="img-cover" data-bg-img="<?php echo $_data['icon']; ?>"></div>
			<?php endif ?>
			<div class="text-element<?php echo $iData%2 != 0 ? ' deep-purple lighten-5' : ''; ?>">
				<div class="text-element-wrapper">
					<div class="text-element-inner">
						<div class="title icon-right-big">
							<?php if ($smallLabel = $_data['label']): ?>							
								<p class="subtitle"><?php echo $smallLabel ?></p>
							<?php endif ?>
							<h2><?php echo $_data['title'] ?></h2>
						</div>
						<p><?php echo $_data['text'] ?></p>
						<?php $link = $_data['cms'] ?: '' ?>
						<?php $button = $_data['link'] ?: $_data['labelcms'] ?>
						<a href="<?php echo $link ?>" class="btn btn-lg btn-primary m-t-30 go-next"><?php echo $button ?></a>
					</div>
				</div>
			</div>
			<?php if ($iData%2 != 0): ?>
				<div class="img-cover" data-bg-img="<?php echo $_data['icon']; ?>"></div>
			<?php endif ?>
		</section>
	<?php endforeach ?>
<?php endif ?>
<?php $blocs = $this->getBlocs() ?>
<section id="homepage_blocs" class="container-fluid p-l-10 p-r-10 p-b-10 p-t-10">
	<div class="grid grid-4" data-equal-height-items="1">
		<div class="item item-wide item-tall" data-equal-height-sub="1">
			<div class="col-sm-6 sub-item">
				<a href="<?php echo Mage::helper('onio_faq')->getFaqUrl() ?>" class="item-wrapper deep-purple lighten-5">
					<div class="text-element">
						<div class="text-element-wrapper">
							<div class="title icon-right">
								<h3><?php echo $blocs['p2label'] ?></h3>
								<span class="subtitle"><?php echo $blocs['p2text'] ?></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 sub-item">
				<div class="item-wrapper img-cover" data-bg-img="<?php echo $this->getMediaUrl($blocs['p2img']); ?>">
				</div>
			</div>
			<div class="col-sm-6 sub-item">
				<div class="item-wrapper img-cover" data-bg-img="<?php echo $this->getMediaUrl($blocs['p3img']); ?>">
				</div>
			</div>
			<div class="col-sm-6 sub-item">
				<a href="<?php echo Mage::helper('cms/page')->getPageUrl( $blocs['p3cms'] ) ?>" class="item-wrapper deep-purple lighten-5">
					<div class="text-element">
						<div class="text-element-wrapper">
							<div class="title icon-right">
								<h3><?php echo $blocs['p3label'] ?></h3>
								<span class="subtitle"><?php echo $blocs['p3text'] ?></span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="item item-wide item-tall">
			<div class="item-wrapper img-cover" data-bg-img="<?php echo $this->getMediaUrl($blocs['p1img']); ?>">
			</div>
		</div>
	</div>
</section>
<?php $contact = $this->getContact() ?>
<section id="homepage_contact" class="section half-section m-t-20">
	<div class="img-cover" data-bg-img="<?php echo $this->getMediaUrl($contact['image']); ?>"></div>
	<div class="text-element">
		<div class="text-element-wrapper">
			<div class="text-element-inner">
				<form class="p-60">
					<div class="feature-box feature-lg">
						<div class="feature-content">
							<div class="title">
								<div class="icon icon-simple">
									<i class="nc-icon-outline education_pencil-47 c-primary"></i>
								</div>
								<h2 class="feature-title"><?php echo $contact['title'] ?></h2>
							</div>
							<?php echo $contact['text'] ?>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<div class="prepend-icon">
								<input type="text" class="form-control input-lg" placeholder="Nom" required>
								<i class="nc-icon-outline users_single-03"></i>
							</div>
						</div>
						<div class="col-md-6">
							<div class="prepend-icon">
								<input type="text" class="form-control input-lg" placeholder="Prénom" required>
								<i class="nc-icon-outline users_single-03"></i>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<div class="prepend-icon">
								<input id="guest" class="form-control input-lg" type="email" required="required" name="guests" placeholder="Email">
								<i class="nc-icon-outline ui-1_email-85"></i>
							</div>
						</div>
						<div class="col-md-6">
							
							<div class="prepend-icon">
								<input id="guest" class="form-control input-lg" type="text" required="required" name="guests" placeholder="Téléphone">
								<i class="nc-icon-outline ui-2_phone"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<textarea id="message" class="form-control" rows="10" name="message" placeholder="Votre message"></textarea>
					</div>
					<button class="btn btn-primary btn-lg icon-left-effect"><i class="nc-icon-outline ui-1_email-85"></i><span><?php echo $this->__('Envoyer') ?></span></button>
				</form>
			</div>
		</div>
	</div>
</section>
      <!-- END CONTACT -->