body.sales-order-view {
	.topbar, .hidden-xs, #main-navigation, #footer, .breadcrumb-container, aside, .order-buttons {
		display: none;
	}
	div.center-content {
		width: 100% !important;
	}
	#main-content {
		margin-bottom: 0 !important;
	}
	.my-account {
		.title {
			margin-bottom: 0 !important;
			p {
				margin-bottom: 0px !important;
			}
			&.title-line-bottom {
				margin-bottom: 30px !important;
			}
		}
		.buttons-set {
			display: none;
		}
	}
	.order-info-box {
		font-size: 12px !important;
		address, p {
			font-size: 12px !important;
		}
		.col-sm-6 {
			width: 50% !important;
			float: left;
		}
	}
	#my-orders-table {
		tbody, tfoot {
			font-size: 12px !important;
		}
		tr.empty-cell {
			//display: none;
		}
		tfoot td, tfoot th {
			padding: 0 10px !important;
		}
	}
}