<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    <tr>
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7; height: 100px;">
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320">
          <tr>
            <td style="padding: 25px 0 25px">
              {{block type="cms/block" block_id="email_footer" }}
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<!-- End wrapper table -->
</div>
</body>
</html>