#menu_tabs_elements_section_content #menu_form_elements .form-list td.label {
	width: 1px;
}
#menu_tabs_elements_section_content #menu_form_elements .input-menu-label {
	width: 210px;
}
#menu_tabs_elements_section_content #menu_form_elements select {
	width: 275px;
}

#onio_menu_table td.sorter img {cursor: move; margin: 5px 0 0 0}

.select_admin_homepage {
	width: 220px !important;
}
#onio_homepage_products .form-list td.label {
	width: 1px;
}
#onio_homepage_products .form-list td.label label {
	width: 1px;
}

.popup-window #contents .nm img {
	max-width: 100%;
	max-height: 100%;
}
.preview-change-file {
	line-height: 30px;
}
.preview-change-file a.preview-file {
	float: left;
	display: inline-block;
}
.preview-change-file a.edit-file {
	float: left;
}
.preview-file img {
	max-width: 100px;
}
.onio-menu-type-select {
	width: 150px !important;
}
img.hp-preview {
	max-width: 50px;
	max-height: 50px;
	float: left;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 160px;
}
.upload-btn-wrapper .btn {
  float: left;
  margin-left: 12px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#sales_order_view_tabs_order_info_content .grid tbody.odd tr td {
	background: inherit !important;
}