<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento enterprise edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-onestepcheckout-address-billing">
    <div class="form-list">
        <?php if ($this->customerHasAddresses()): ?>
            <div class="aw-onestepcheckout-general-form-field dotted-fields">
                <label class="address-select-label"><?php echo $this->__('Choisissez une adresse de facturation dans votre carnet d\'adresses ou saisissez une nouvelle adresse.') ?></label>
                <div class="input-box">
                    <?php echo $this->getChildHtml('onio_onestep_billing') ?>
                </div>
                <div style="clear:both;"></div>
            </div>
        <?php endif; ?>
        <div id="aw-onestepcheckout-billing-address-list"<?php if ($this->customerHasAddresses()): ?> style="overflow: hidden;height: 0px;display:none"<?php endif; ?> class="dotted-fields">
            <?php echo $this->getCustomerWidgetName()->toHtml(); ?>
            <?php if (!$this->isCustomerLoggedIn()) : ?>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group required">
                            <label for="billing:email"><?php echo $this->__('Email') ?></label>
                            <input type="text" name="billing[email]" id="billing:email" title="<?php echo $this->__('Email') ?>" class="form-control input-lg input-text validate-email required-entry" value="<?php echo $this->getDataFromSession('email'); ?>" />
                        </div>
                    </div>
                </div>

            <?php endif; ?>
            <?php $_streetValidationClass = $this->getAttributeValidationClass('street'); ?>
            <?php $streetValues = $this->getDataFromSession('street'); ?>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="billing:street1"><?php echo $this->__('Address') ?></label>
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" class="form-control input-lg input-text <?php echo $_streetValidationClass ?>" value="<?php echo (isset($streetValues[0]))? $streetValues[0] : '' ;?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="billing:postcode"><?php echo $this->__('CP') ?></label>
                        <input type="text" title="<?php echo $this->__('CP') ?>" name="billing[postcode]" id="billing:postcode" class="form-control input-lg input-text validate-zip-international <?php echo $this->getAttributeValidationClass('postcode') ?>" value="<?php echo $this->getDataFromSession('postcode') ?>" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="billing:city"><?php echo $this->__('Ville') ?></label>
                        <input type="text" title="<?php echo $this->__('Ville') ?>" name="billing[city]" class="form-control input-lg input-text <?php echo $this->getAttributeValidationClass('city') ?>" id="billing:city" value="<?php echo $this->getDataFromSession('city') ?>" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required select-group">
                        <label for="billing:country_id"><?php echo $this->__('Pays') ?></label>
                        <?php echo $this->getCountryHtmlSelect('billing') ?>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <?php if ($this->getConfig()->isCompany()): ?>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="billing:company"><?php echo $this->__('Société') ?></label>
                            <input type="text" id="billing:company" name="billing[company]" title="<?php echo $this->__('Company') ?>" class="form-control input-lg input-text <?php echo $this->getAttributeValidationClass('company') ?>" value="<?php echo $this->getDataFromSession('company'); ?>" />
                        </div>
                    </div>
                <?php endif; ?>    
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="billing:telephone"><?php echo $this->__('Téléphone') ?></label>
                        <input type="text" name="billing[telephone]" title="<?php echo $this->__('Téléphone') ?>" class="form-control input-lg input-text <?php echo $this->getAttributeValidationClass('telephone') ?>" id="billing:telephone" value="<?php echo $this->getDataFromSession('telephone'); ?>" />
                    </div>
                </div>
            </div>
            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getDataFromSession('save_in_address_book')):?> checked="checked"<?php endif; ?> />
                        <label for="billing:save_in_address_book"><?php echo $this->__('Enregistrer dans le carnet d\'adresse') ?></label>
                    </div>
                </div>
            <?php else:?>
                <input type="hidden" name="billing[save_in_address_book]" value="1" />
            <?php endif; ?>
        </div>
	
	<?php // modification xtand 20180918 ?>
	<?php if (!$this->isCustomerLoggedIn()) : ?>
	<div class="row">
		<div class="col-md-12">
	                <div class="control">
	                    <?php if ($this->customerMustBeRegistered()): ?>
	                    <input type="checkbox" name="billing[create_account]" value="1" title="<?php echo $this->__('Create Account') ?>" id="billing:create_account" class="checkbox"<?php if ($this->getDataFromSession('create_account')):?> checked="checked"<?php endif; ?>/><label for="billing:create_account"><?php echo $this->__('Je souhaite créer un compte pour retrouver et suivre mes commandes') ?></label>
	                    <?php else: ?>
	                        <input type="hidden" name="billing[create_account]" value="1" id="billing:create_account" />
	                    <?php endif ?>
	                </div>
			
		</div>
	</div>
        <div class="row" id="aw-osc-billing-password-area" style="overflow: hidden;<?php if (!$this->getDataFromSession('create_account') && $this->customerMustBeRegistered()):?>height: 0px;display:none<?php endif; ?>">
            <div class="col-md-6">
                <div class="form-group required">
                    <label for="billing:customer_password"><?php echo $this->__('Mot de passe') ?></label>
                    <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Mot de passe') ?>" class="form-control input-lg input-text required-entry validate-password" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label for="billing:confirm_password"><?php echo $this->__('Confirmez') ?></label>
                    <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirmez') ?>" id="billing:confirm_password" class="form-control input-lg input-text required-entry validate-cpassword" />
                </div>
            </div>
        </div>
	<?php endif; ?>
	<?php // end : modification xtand 20180918 ?>
	
        <?php if (!$this->isUseBillingAsShipping() && $this->canShip()): ?>
            <h4 class="t-important m-t-30 m-b-30 relay-case"><?php echo $this->__('Adresse de livraison'); ?></h4>
            <div id="aw-onestepcheckout-billing-use-for-shipping" class="aw-onestepcheckout-general-form-field relay-case">
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" name="billing[use_for_shipping]" value="1" title="<?php echo $this->__('Ship to same address') ?>" id="billing:use_for_shipping" <?php if ($this->isUseBillingAsShippingChecked()):?> checked="checked"<?php endif; ?> />
                        <label for="billing:use_for_shipping"><?php echo $this->__('Utiliser l\'adresse de facturation') ?></label>
                    </div>
                </div>
            </div>
        <?php else : ?>
           <input type="hidden" name="billing[use_for_shipping]" value="1" />
        <?php endif; ?>
    </div>
    <?php echo $this->getChildHtml('extra');?>
</div>