<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento enterprise edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-onestepcheckout-address-shipping">
    <div class="form-list">
        <?php if ($this->customerHasAddresses()): ?>
            <div class="aw-onestepcheckout-general-form-field dotted-fields">
                <label class="address-select-label"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
                <div class="input-box">
                    <?php echo $this->getChildHtml('onio_onestep_shipping') ?>
                </div>
                <div style="clear:both;"></div>
            </div>
        <?php endif; ?>
        <div id="aw-onestepcheckout-shipping-address-list"<?php if ($this->customerHasAddresses()): ?> style="display:none;overflow: hidden;height: 0px;"<?php endif; ?> class="dotted-fields">
            <?php echo $this->getCustomerWidgetName()->toHtml(); ?>
            <?php $_streetValidationClass = $this->getAttributeValidationClass('street'); ?>
            <?php $streetValues = $this->getDataFromSession('street'); ?>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="shipping:street1"><?php echo $this->__('Address') ?></label>
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" class="form-control input-lg input-text <?php echo $_streetValidationClass ?>" value="<?php echo (isset($streetValues[0]))? $streetValues[0] : '' ;?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="shipping:postcode"><?php echo $this->__('CP') ?></label>
                        <input type="text" title="<?php echo $this->__('CP') ?>" name="shipping[postcode]" id="shipping:postcode" class="form-control input-lg input-text validate-zip-international <?php echo $this->getAttributeValidationClass('postcode') ?>" value="<?php echo $this->getDataFromSession('postcode') ?>" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="shipping:city"><?php echo $this->__('Ville') ?></label>
                        <input type="text" title="<?php echo $this->__('Ville') ?>" name="shipping[city]" class="form-control input-lg input-text <?php echo $this->getAttributeValidationClass('city') ?>" id="shipping:city" value="<?php echo $this->getDataFromSession('city') ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required select-group">
                        <label for="shipping:country_id"><?php echo $this->__('Pays') ?></label>
                        <?php echo $this->getCountryHtmlSelect('shipping') ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <?php if ($this->getConfig()->isCompany()): ?>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shipping:company"><?php echo $this->__('Société') ?></label>
                            <input type="text" id="shipping:company" name="shipping[company]" title="<?php echo $this->__('Company') ?>" class="form-control input-lg input-text <?php echo $this->getAttributeValidationClass('company') ?>" value="<?php echo $this->getDataFromSession('company'); ?>" />
                        </div>
                    </div>
                <?php endif; ?>    
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="shipping:telephone"><?php echo $this->__('Téléphone') ?></label>
                        <input type="text" name="shipping[telephone]" title="<?php echo $this->__('Téléphone') ?>" class="form-control input-lg input-text <?php echo $this->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" value="<?php echo $this->getDataFromSession('telephone'); ?>" />
                    </div>
                </div>
            </div>
            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getDataFromSession('save_in_address_book')):?> checked="checked"<?php endif; ?> />
                        <label for="shipping:save_in_address_book"><?php echo $this->__('Enregistrer dans le carnet d\'adresse') ?></label>
                    </div>
                </div>
            <?php else:?>
                <input type="hidden" name="shipping[save_in_address_book]" value="1" />
            <?php endif; ?>
        </div>
    </div>
    <?php echo $this->getChildHtml('extra');?>
</div>