<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento enterprise edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()): ?>
<div class="login-wrapper">
    <p id="toggle-login">
      <?php echo $this->__('Vous avez déjà un compte ?') ?> <a href="javascript:void(0);"><?php echo $this->__('Cliquez ici') ?></a>
    </p>
    <div class="aw-onestepcheckout-row">
        <div id="aw-onestepcheckout-authentification">
            <div id="aw-onestepcheckout-authentification-container">
                <form id="aw-onestepcheckout-login-form" action="<?php echo $this->getLoginAjaxAction() ?>" method="post">
                    <div class="form-list">
                        <div class="form-group required aw-onestepcheckout-auth-form-block">
                            <label for="login-email"><?php echo $this->__('Email') ?></label>
                            <div class="prepend-icon">
                                <input type="text" class="form-control input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->getUsername() ?>" placeholder="<?php echo $this->__('Saisissez votre adresse email') ?>" />
                                <i class="nc-icon-outline ui-1_email-83"></i>
                            </div>
                        </div>
                        <div class="form-group required aw-onestepcheckout-auth-form-block">
                            <label for="login-password"><?php echo $this->__('Mot de passe') ?></label>
                            <div class="prepend-icon">
                                <input type="password" class="form-control input-text required-entry validate-password" id="login-password" name="login[password]" placeholder="<?php echo $this->__('Saisissez votre mot de passe') ?>" />
                                <i class="nc-icon-outline ui-1_lock"></i>
                            </div>
                        </div>
                        <div class="aw-onestepcheckout-auth-form-block">
                            <button type="submit" class="btn btn-important btn-primary btn-block" id="aw-onestepcheckout-login-submit-btn"><?php echo $this->__('S\'identifier') ?></button>
                            <a id="aw-onestepcheckout-login-forgot-link" href="javascript:void(0);"><?php echo $this->__('Mot de passe oublié ?') ?></a>
                        </div>
                    </div>
                </form>
                <form id="aw-onestepcheckout-forgot-password-form" action="<?php echo $this->getForgotPasswordAjaxAction() ?>" method="post">
                    <div class="form-list">
                        <p><?php echo $this->__('Please enter your email below and we will send you a new password.');?></p>
                        <div class="form-group required aw-onestepcheckout-auth-form-block">
                            <label for="forgot-password-email"><?php echo $this->__('Votre email') ?></label>
                            <div class="prepend-icon">
                                <input type="text" class="form-control input-text required-entry validate-email" id="forgot-password-email" name="email" value="<?php echo $this->getUsername() ?>" placeholder="<?php echo $this->__('Saisissez votre adresse email') ?>" />
                                <i class="nc-icon-outline ui-1_email-83"></i>
                            </div>
                        </div>
                        <div class="aw-onestepcheckout-auth-form-block">
                            <button type="submit" class="btn btn-important btn-primary btn-block" id="aw-onestepcheckout-forgot-password-submit-btn"><?php echo $this->__('Envoyer') ?></button>
                            <a class="aw-onestepcheckout-forgot-password-back" href="javascript:void(0);"><?php echo $this->__('Retour à l\'identification') ?></a>
                        </div>
                    </div>
                </form>
                <div id="aw-onestepcheckout-forgot-password-success">
                    <p><?php echo $this->__('S\'il y a un compte associé à l\'adresse email, vous recevrez un email avec un lien pour réinitialiser votre mot de passe.');?></p>
                    <div class="aw-onestepcheckout-auth-form-block">
                        <a class="aw-onestepcheckout-forgot-password-back" href="javascript:void(0);"><?php echo $this->__('Cliquez ici pour revenir à l\'identification') ?></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var awOSCLoginBlock = new AWOnestepcheckoutLogin({
        containerSelector: '#aw-onestepcheckout-authentification-container',
        forgotPasswordLinkSelector: '#aw-onestepcheckout-login-forgot-link',
        backToLoginLinkSelector: '.aw-onestepcheckout-forgot-password-back',
        loginFormSelector: '#aw-onestepcheckout-login-form',
        forgotPasswordFormSelector: '#aw-onestepcheckout-forgot-password-form',
        forgotPasswordSuccessBlockSelector: '#aw-onestepcheckout-forgot-password-success',
        fbButtonContainerSelector: '#aw-onestepcheckout-login-form-block-fbi',
        fbButtonRequestUrl: <?php echo Zend_Json::encode($this->getFbButtonRequestUrl());?>,
        errorMessageBoxCssClass: 'aw-onestepcheckout-error-msg ',
        overlayConfig: {
            '48px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-48',
            '24px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-24',
            '16px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-16'
        },
        jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>
    });
</script>
<?php endif;?>