<?php
/**
 * Onio.
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. Onio does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   Onio
 * @package    Agri
 * @version    1.0.0
 * @copyright  Copyright (c) 2017-2017 Onio. 
 */
?>
<?php $_htmlId      = $this->getElement()->getHtmlId() ?>
<?php $_htmlClass   = $this->getElement()->getClass() ?>
<?php $_htmlName    = $this->getElement()->getName() ?>

<tr>
    <td class="label"><?php echo $this->getElement()->getLabel() ?></td>
    <td colspan="10" class="grid tier">
    <table cellspacing="0" class="data border" id="files_table">
        <col />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo Mage::helper('onio_custom')->__('Image') ?> <span class="required">*</span></th>
                <th><?php echo Mage::helper('onio_custom')->__('Action') ?></th>
            </tr>
        </thead>
        <tbody id="<?php echo $_htmlId ?>_container"></tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="a-right"><?php echo $this->getAddButtonHtml() ?></td>
            </tr>
        </tfoot>
    </table>

<script type="text/javascript">
//<![CDATA[
var fileRowTemplate = '<tr>'
    + '{{ffile}}'
    + '<td class="last"><input type="hidden" name="<?php echo $_htmlName ?>[{{index}}][delete]" class="delete" value="" id="file_row_{{index}}_delete" />'
    + '<button title="<?php echo Mage::helper('catalog')->__("Delete") ?>" type="button" class="scalable delete icon-btn delete-product-option" id="file_row_{{index}}_delete_button" onclick="return fileControl.deleteItem(event);">'
    + '<span><span><span><?php echo Mage::helper('catalog')->__("Delete") ?></span></span></span></button></td>'
    + '</tr>';

var fileControl = {
    template: new Template(fileRowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', "")),
    itemsCount: 0,
    addItem : function () {
        var data = {
            ffile: fileControl.fileElement(0),
            index: this.itemsCount
        };

        if(arguments.length >= 1) {
            data.index      = arguments[0];
            data.ffile      = arguments[1];
            this.itemsCount = data.index;
        }

        Element.insert($('<?php echo $_htmlId ?>_container'), {
            bottom : this.template.evaluate(data)
        });
        this.itemsCount++;
    },
    
    deleteItem: function(event) {
        var tr = Event.findElement(event, 'tr');
        if (tr) {
        	tr.remove();
        }
        return false;
    },

    changeFile: function(event, key) {
    	$('file_row_'+key+'_ffile').show();
        $('file_row_'+key+'_ffile').addClassName('required-entry');
    	$('previewfile_'+key).remove();
    },

    fileElement: function(key, value) {
    	key = !key ? this.itemsCount : key;
    	var fileHtml = '';
    	if(value) {
    		var valueUrl = '<?php echo Mage::helper('onio_custom')->getFileDirUrl(); ?>'+value;
    		fileHtml += '<td><div id="previewfile_'+key+'" class="preview-change-file"><a class="preview-file" href="'+valueUrl+'" target="_blank"><img src="<?php echo Mage::helper('onio_custom')->getFileDirUrl(); ?>'+value+'" height="30" /></a><a href="javascript:void(0);" class="edit-file" onclick="return fileControl.changeFile(event, '+key+');">&nbsp;&nbsp;X Changer l\'image</a><input type="hidden" name="<?php echo $_htmlName ?>['+key+'][ffile_default]" value="'+value+'" id="file_row_default_'+key+'_ffile" /></div><input style="display:none;" class="upl-file" type="file" name="<?php echo $_htmlName ?>['+key+'][ffile]" value="'+value+'" id="file_row_'+key+'_ffile" />';
    	}
    	else {
    		fileHtml += '<td><input class="<?php echo $_htmlClass ?> upl-file" type="file" name="<?php echo $_htmlName ?>['+key+'][ffile]" value="'+value+'" id="file_row_'+key+'_ffile" />';
    	}
    	return fileHtml;
    }
};
<?php foreach ($this->getValues() as $k => $_item): ?>
fileControl.addItem('<?php echo addslashes($k) ?>', fileControl.fileElement(<?php echo $k ?>, '<?php echo $_item ?>'));
<?php endforeach; ?>
//]]>
</script>
</td></tr>
