<?php
/**
 * 1997-2015 Quadra Informatique
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to modules@quadra-informatique.fr so we can send you a copy immediately.
 *
 * @author Quadra Informatique <modules@quadra-informatique.fr>
 * @copyright 1997-2015 Quadra Informatique
 * @license http://www.opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 */
?>
<header class="section-header header-sm t-dark p-t-20 order-finish">
    <div class="container top-element p-t-0">
        <div class="row top-text">
            <i class="nc-icon-outline ui-1_bold-remove header-icon"></i>
            <h1 class="header-title t-important m-b-0"><?php echo $this->__('Désolé !') ?></h1>
            <p class="subtitle"><?php echo ($this->getTitle()) ? $this->getTitle() : $this->__('An error occurred in the process of payment'); ?></p>
            <?php if ($this->getMessage()): ?>
			    <p><?php echo $this->getMessage(); ?></p>
			<?php endif; ?>
        </div>
    </div>
</header>
