<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/**
 * @var $this Amasty_Shopby_Block_Catalog_Layer_Filter_Attribute
 */
?><ul class="products-categories checklist 
<?php if ($this->getCollapsed() && !$this->getHasSelection()): ?>no-display-current <?php endif ?>
<?php
    if($this->getSingleChoice()) {echo " single-choice ";}?>
<?php
	if ($this->getSortFeaturedFirst() && in_array($this->getDisplayType(), array(Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY, Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS))):
	?>sort-featured-first-<?php echo $this->getRequestValue(); endif ?>
">
	<?php if ($this->getSortFeaturedFirst()): ?><input type="hidden" id="field_sort_featured_<?php echo $this->getRequestValue();?>" value="default_sort"><?php endif ?>
<?php
switch ($this->getDisplayType()){
    case Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY:
        if ($this->getShowSearch()){
            echo '<li rel="search"><input type="text" class="amshopby_attr_search input-text" onkeyup="amshopby_attr_search(this)" /></li>';
        }
        foreach ($this->getItemsAsArray() as $item){

            $current = '';
            $check = '';
            $suffix = '';
            if (preg_match('/amshopby-attr-selected/', $item['css'])) {
                $current = ' class="checked"';
                $check = ' animate';
            }
            if ($this->getRequestValue() == 'longueur_mat') {
                $suffix .= ' '.$this->__('m');
            }
            echo
				'<li'.
				(isset($item['style']) ? ' '.$item['style'] : '') .
				(isset($item['default_sort']) ? ' data-default_sort="' . $item['default_sort'] . '"': '') .
				(isset($item['featured_sort']) ? ' data-featured_sort="' . $item['featured_sort'] . '"': '') .
				' data-text="' . htmlspecialchars($item['label']) . '"'.$current.'> ' .
				'<a class="'.$item['css'].'"' . $item['rel'] . ' href="'.$item['url'].'"   data-config=\''.$item['data-config'].'\' >'. $item['label'] . $suffix . $item['count'] . '<span><span class="x'.$check.'"></span><span class="y'.$check.'"></span></span></a>' .
				'</li>';
        }
    break;
}

if ($this->getShowLessMore() && in_array($this->getDisplayType(), array(
        Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY,
        Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_ONLY,
        Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS,
    ))) {

    $total = count($this->getItemsAsArray());
    $short = $this->getMaxOptions();
    $add = $total - $short;
    if ($add > 0) {
        $text = sprintf($this->__('View %d More'), $add);
        echo '<li class="amshopby-clearer"><a id="amshopby-more-'.$this->getRequestValue().'" class="amshopby-more" href="#">' . $text . '</a></li>';
    }
    echo '<li class="amshopby-clearer"><a id="amshopby-less-'.$this->getRequestValue().'" class="amshopby-less" href="#" style="display:none">' . $this->__('Show Less') . '</a></li>';
} 
?>
</ul>
