<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
if (!function_exists('amshopby_render_label')) {
    function amshopby_render_label($placement, $label, $value) {
        $value = Mage::helper('core')->currency($value, true, false);
        return $value;
        /**
         * @todo Add ability to specify placement of label (after, before)
         * @todo Move to helper?
         */
        // if ($placement == 'before') {
        //     return $label . ' ' . $value;
        // } else {
        //     return $value . ' ' . $label;
        // }
    }
}

$attribute = $this->getAttributeCode() ? $this->getAttributeCode() : $this->getAttributeModel()->getAttributeCode();
$position = $this->getData('amprice-position');
$prefix = 'amshopby-' . $attribute;

$prefix = $position ? $prefix . '-' . $position : $prefix;

$fromValue = $this->getValueFrom();
$toValue   = $this->getValueTo();

$hideCounts = $this->getHideCounts();
?>
<ol class="<?php if ($this->getCollapsed() && !$this->getHasSelection()): ?>no-display-current<?php endif ?> single-choice"   >
<?php
$show = ($this->getItemsCount() > 1 || !Mage::getStoreConfig('amshopby/general/hide_one_value'));
if (count($this->getItems()) == 1){
    $a  = current($this->getItems());
    if ($a->getLabel() == ''){
        $show = false;
    }
}
?>
<?php if (Amasty_Shopby_Model_Catalog_Layer_Filter_Price::DT_SLIDER == $this->getDisplayType()): ?>

    <li>
        <?php
            $sliderType = $this->getSliderType();
            $useCustomSlider = Mage::getStoreConfig('amshopby/block/slider_use_ui');

            $max = $this->_filter->getMaxValue();
            $min = $this->_filter->getMinValue();
            $step = $this->getSliderDecimal();
            if ($step == 1.0){
                $max = ceil($max);
                $min = floor($min);
            } else {
                $max /= $step;
                $max = ceil($max);
                $max *= $step;

                $min /= $step;
                $min = floor($min);
                $min *= $step;
            }

            $valueLabel = $this->getValueLabel();
            $valuePlacement = 'after';

            if (!is_numeric($fromValue)){
                $fromValue = $min;
            }
            $sliderFrom = max($min, $fromValue);

            if (!is_numeric($toValue)) {
                $toValue = $max;
            }
            $sliderTo = min($max, $toValue);

            $params = implode(',', array($sliderFrom, $sliderTo, $max, $prefix, $min, $step));
        ?>

        <?php /* Current selection only */ ?>
        <?php if ($sliderType == 0) : ?>
            <?php if (!$useCustomSlider) : ?>
                <div id="<?php echo $prefix?>" class="amshopby-slider">
                    <div class="handle selected"></div>
                    <span id="<?php echo $prefix?>-slider-bar" class="amshopby-slider-bar">&nbsp;</span>
                    <div class="handle"></div>
                </div>
            <?php else : ?>
                <div id="<?php echo $prefix ?>-ui" class="amshopby-slider-ui"></div>
            <?php endif; ?>
            <div class="current-price-value">
                <div class="inline-slider-price amshopby-slider-price amshopby-slider-price-from">
                    <?php echo '<span id="' . $prefix .'-from-slider">' . Mage::helper('core')->currency($fromValue, true, false) . '</span>' ?>
                </div>&nbsp;-&nbsp;
                <div class="inline-slider-price amshopby-slider-price amshopby-slider-price-to">
                    <?php echo '<span id="' . $prefix .'-to-slider">' . Mage::helper('core')->currency($toValue, true, false) . '</span>' ?>
                </div>
            </div>
        <?php endif; ?>

        <?php /* With ranges */?>
        <?php if ($sliderType == 1) : ?>
            <?php if (!$useCustomSlider) : ?>
                <div id="<?php echo $prefix?>" class="amshopby-slider">
                    <div class="handle selected"></div>
                    <span id="<?php echo $prefix?>-slider-bar" class="amshopby-slider-bar">&nbsp;</span>
                    <div class="handle"></div>
                </div>
            <?php else : ?>
                <div id="<?php echo $prefix ?>-ui" class="amshopby-slider-ui"></div>
            <?php endif; ?>

            <div class="amshopby-slider-price amshopby-slider-price-from"><?php echo amshopby_render_label($valuePlacement, $valueLabel, $min) ?></div>
            <div class="amshopby-slider-price amshopby-slider-price-to"><?php echo amshopby_render_label($valuePlacement, $valueLabel, $max) ?></div>
            <div class="amshopby-slider-price-range">
                    <span id="<?php echo $prefix?>-from-slider"><?php echo $fromValue ?></span>&nbsp;-&nbsp;
                    <span id="<?php echo $prefix?>-to-slider"><?php echo $toValue ?></span>
            </div>
        <?php endif; ?>
        <input type="hidden" class="<?php echo $useCustomSlider ? 'amshopby-slider-ui-param' : 'amshopby-slider-param'; ?>" value="<?php echo $params ?>" />
    </li>
<?php endif; ?>
    

            


    <li style="display:none">
        <input type="hidden" id="<?php echo $prefix?>-url"
               value="<?php echo Mage::helper('amshopby/url')->getFullUrl(array($attribute => $prefix . '-from-' . $prefix . '-to'))?>"
               data-config='<?php echo Mage::helper('amshopby/url')->getPriceFilterConfig($attribute, $prefix . '-from-' . $prefix . '-to'); ?>'
        />
    </li>
    <input type="hidden" size="2" value="<?php echo $this->escapeHtml($fromValue) ?>"  id="<?php echo $prefix?>-from" />
    <input type="hidden" size="2" value="<?php echo $this->escapeHtml($toValue) ?>" id="<?php echo $prefix?>-to"/>
</ol>
<script type="text/javascript">
    var priceFormatSlider = <?php echo Mage::helper('core')->jsonEncode(Mage::app()->getLocale()->getJsPriceFormat()); ?>;
</script>