<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php $_filters = $this->getActiveFilters() ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Supprimer') ?>
<?php if (!empty($_filters)): ?>
    <div class="shopping-filter">
        <span class="block-subtitle"><?php echo Mage::helper('catalog')->__('Vos filtres') ?></span>
        <div class="currently">
            <ul class="products-categories checklist">
                <?php foreach ($_filters as $_filter):?>
                    <li>
                        <em class="label-filter"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</em>
                        <ul>
                            <?php if ($_filter->hasData('children')): ?>
                                <?php foreach ($_filter->getData('children') as $child): ?>
                                    <li>

                                        <?php echo $child['label']  ?>
                                        <a href="<?php echo $child['url'] ?>" class="btn-remove"><em><?php echo $_removeTxt ?></em></a>
                                    </li>
                                <?php endforeach ?>
                            <?php else: ?>
                                <li>
                                    <?php echo $_filter->getLabel() ?>
                                    <a href="<?php echo $_filter->getRemoveUrl() ?>" class="btn-remove"><em class="remove-label"><?php echo $_removeTxt ?></em></a>
                                </li>
                            <?php endif ?>
                        </ul>
                    </li>
                <?php endforeach; ?>
            </ul>
            <a href="<?php echo $this->getParentBlock()->getClearUrl() ?>" class="btn btn-sm btn-remove-all btn-square"><?php echo $this->__('Clear All') ?></a>
        </div>
    </div>
<?php endif; ?>
