#main-navigation {
	//transition: all .25s ease-in-out;
	transition: transform .25s ease-in-out;
	.main-nav-wrapper {
		background: $wh;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		height: 60px;
		transition: all .25s ease-in-out;
		div {
			height: auto;
		}
		.container-fluid {
			padding-right: 30px;
			padding-left: 30px;
			position: relative;
		}
		.nav-center {
			float: none;
			text-align: center;
			position: static;
			display: table;
			margin: auto;
		}
		#main-menu {
			float: right;
			height: 100%;
			padding: 0 10px;
			vertical-align: middle;
			display: table-cell;
			ul {
				padding: 0;
				height: 100%;
				list-style: none;
				display: table;
				height: 100%;
				margin-bottom: 0;
				li {
					position: relative;
					float: left;
					height: 100%;
					list-style: none;
					&.link-red {
						a {
							color: $orange;
						}
						ul {
							li {
								a {
									color: $bl;
								}
							}
						}
					}
					a {
						height: 60px;
						font-size: 13px;
						font-weight: 500;
						text-transform: uppercase;
						display: table-cell;
						vertical-align: middle;
						margin: 0;
						padding: 0 15px;
						letter-spacing: 1px;
						transition: all .25s ease-in-out;
						font-family: 'Montserrat';
						&.top-level-menu {
							position: relative;
							padding-right: 20px !important;
							i {
								color: #d9d9d9;
								position: absolute;
								right: 5px;
								top: 50%;
								margin-top: -4px;
								display: block;
								font-size: 8px;
							}
						}
					}
					&.mega-menu {
						position: static;
						a {
							letter-spacing: 0 !important;
						}
						.mega-menu-content {
							transition: all .3s ease-in-out;

							position: absolute;
							overflow: hidden;
							// left: 30px;
							// right: 30px;
							box-shadow: 2px 1px 4px 1px rgba(0,0,0,0.1);
							background-color: #fff;
							z-index: 999;
							//height: 0;
							max-height: 0;
							opacity: 0.5;
							ul {
								position: relative;
								// float: left;
								z-index: 3;
								padding: 15px 20px !important;
								text-align: left;
								// &:last-child {
								// 	&:after {
								// 		display: none;
								// 	}
								// }
								// &:after {
								// 	content: "";
								// 	position: absolute;
								// 	top: 0;
								// 	bottom: 0;
								// 	right: 50px;
								// 	width: 1px;
								// 	height: 600%;
								// 	background: rgba(0,0,0,0.07);
								// }
								li {
									float: none;
									//display: inline-block;
									display: block;
									text-align: left !important;
									a {
										display: block;
										padding-left: 15px;
										height: 100%;
										font-size: 13px;
										text-align: left;
										&:hover {
											color: $orange;
										}
										&.menu-title {
											font-family: 'Montserrat',arial;
											font-weight: 700;
											font-size: 12px;
											line-height: 18px;
											margin-bottom: 12px;
											color: #000;
											text-transform: uppercase;
											&:hover {
												color: $orange;
											}
										}
									}
									ul {
										display: block !important;
										opacity: 1 !important;
										border: none !important;
										left: 0;
										top: -5px;
										width: 100% !important;
										box-shadow: none !important;
										position: relative;
										padding: 0 !important;
										&:after {
											display: none;
										}
										li {
											position: relative;
											float: none;
											display: block;
											a {
												font-weight: 500;
												font-family: inherit;
												text-transform: none;
												line-height: 22px;
												color: rgba(0,0,0,0.7);
												&:hover {
													padding-left: 18px;
												}
											}
										}
									}
								}
							}
							// &.col-2 {
							// 	ul {
							// 		width: 50%;
							// 	}
							// }
							// &.col-3 {
							// 	ul {
							// 		width: 33.3333%;
							// 	}
							// }
							// &.col-4 {
							// 	ul {
							// 		width: 25%;
							// 	}
							// }
							// &.col-4 {
							// 	ul {
							// 		width: 20%;
							// 	}
							// }
						}
						&:hover, &.open {
							a.top-level-menu {
								color: $orange;
							}
							.mega-menu-content {
								//height: 225px;
								max-height: 500px;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}