#homepage_products {
	z-index: 0;
	.large {
		.customization-link {
			height: 426px;
		}		
	}
	.customization-link {
		height: 378px;
		width: 100%;
		display: block;
		position: relative;
		color: $wh;
		// -webkit-filter: grayscale(100%);
		// -moz-filter: grayscale(100%);
		// filter: grayscale(100%);
		// transition: filter 0.5s ease;
		overflow: hidden;
		.text {
			position: absolute;
			z-index: 1;
			text-align: center;
			width: 100%;
			display: block;
			@extend .t-important;
			font-size: 28px;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
			padding-top: 50px;
		}
		.button-cta {
			position: absolute;
			z-index: 1;
			display: block;
			left: 0;
			width: 100%;
			text-align: center;
			@extend .t-important;
			font-weight: 500 !important;
			letter-spacing: 0;
			font-size: 18px;
			opacity: 0;
			bottom: 0;
			transition: all 0.25s ease;
			span {
				display: inline-block;
				background: $orange;
				color: $wh;
				padding: 0 15px;
			}
		}
		&:hover {
			color: $wh;
			// -webkit-filter: grayscale(0%);
			// -moz-filter: grayscale(0%);
			// filter: grayscale(0%);
			.button-cta {
				bottom: 10px;
				opacity: 1;
			}
			&:after {
				opacity: 0.2;
			}
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.3;
			z-index: 0;
			transition: opacity 0.25s ease;
		}
	}
	.view-all {
		width: 100%;
		display: block;
		border: solid 1px $bl;
		padding: 10px;
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		margin-bottom: 30px;
		&:hover {
			border-color: $orange;
		}
	}
	.item-link {
		height: 150px;
		width: 100%;
		display: block;
		overflow: hidden;
		position: relative;
		padding: 10px 0;
		background-size: 130%;
		text-align: center;
		.text {
			text-align: center;
			padding: 5px;
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 18px;
			font-weight: 500;
			background: rgba($bl, 0.6);
			margin: 0 auto;
			color: $wh;
			letter-spacing: 1px;
		}
		.flag {
			width: 100px;
			background: $orange;
			position: absolute;
			top: -9px;
			left: -33px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			padding: 20px 0 0 0;
			font-size: 12px;
		}
		.button-cta {
			position: absolute;
			z-index: 1;
			bottom: 0;
			display: block;
			left: 0;
			width: 100%;
			text-align: center;
			@extend .t-important;
			font-weight: 500 !important;
			letter-spacing: 0;
			font-size: 14px;
			opacity: 0;
			transition: all 0.25s ease;
			span {
				display: inline-block;
				background: $orange;
				color: $wh;
				padding: 0 15px;
				transition: all 0.5s ease;
			}
		}
		&:hover {
			color: $bl;
			.button-cta {
				bottom: 10px;
				opacity: 1;
			}
		}
	}
}
#homepage_icons {
	background: #F3F3F3;
	.feature-box .icon img {
		height: 45px;
	}
}
#homepage_blocs {
	.grid {
		.sub-item {
			margin-bottom: 20px;
			padding: 0;
			&:nth-child(2n) {
				padding-left: 20px;
			}
			&:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
		}
		a.item-wrapper {
			display: block;
			.title {
				transition: all .25s ease;
			}
			h3, .subtitle {
				transition: color .25s ease;
			}
			.subtitle {
				line-height: 20px;
				font-weight: normal;
				color: $bl;
			}
			&:hover {
				.title {
					-webkit-transform: translateY(-10px);
    				transform: translateY(-10px);
    				color: $orange;
					.subtitle, h3 {
						color: $orange;
					}
				}
			}
		}
	}
}
#homepage_contact {
	.text-element-wrapper {
		padding: 0 2rem;
	}
	.feature-box {
		.title {
			margin-bottom: 0;
		}
		p {
			line-height: 24px;
			strong {
				color: $orange;
				font-size: 20px;
			}
			sub {
				margin-top: -8px;
			}
		}
	}
	// .prepend-icon {
	// 	position: relative;
	// 	input {
	// 		padding-left: 40px;
	// 	}
	// 	i {
	// 		position: absolute;
	// 		top: 10px;
	// 		left: 15px;
	// 	}
	// }
}
@media (max-width: 990px) {
	#homepage_products .boxed {
		float: left;
		width: 50%;
		position: relative;
	    min-height: 1px;
	    padding-right: .9375rem;
	    padding-left: .9375rem;
	    &:last-child {
	    	display: none;
	    }
	}
}

@media (max-width: 768px) {
	#homepage_products .customization-link .text {
		font-size: 23px;
		line-height: 24px;
	}
}

@media (max-width: 543px) {
	#homepage_products .boxed {
		float: none;
		width: 100%;
		padding-right: 0;
	    padding-left: 0;
	    &:last-child {
	    	display: block;
	    }
	}
}