/**** ECOMMERCE ELEMENTS *****/
#shop.shop-list {margin: 0 2rem;}
.section-header ~ #shop {margin-top: 35px;}
.product-cat {min-height: 10rem;background: #fff;margin-bottom: 2rem;}
.section.shop-categories {padding:0 10px 10px 10px;}
#demo-canvas {position: absolute;width: 100%;top:0;left: 0;height: 100%;z-index: 100;-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}

/* Banners */
.banner {overflow: hidden;position: relative; text-align: center;color:#fff;display: table;width: 100%;height:100%;margin-bottom: 2rem;}
.banner h1, .banner h2, .banner h3, .banner h4,.banner h5 {color:#fff;}
.banner p {color:rgba(255,255,255,0.75);margin-top: 0.7rem;font-weight: 300 !important;font-family: 'Open Sans',arial;letter-spacing: 1px;}
.banner-img  {position: absolute;top:0;left:0;width: 100%;height:100%;z-index:0; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center top;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.banner:hover .banner-img {-webkit-transform: scale(1.05);transform: scale(1.05);}
.banner .banner-wrapper {display: table-cell;width: 100%;height:100%;vertical-align: middle;padding:3.5rem 2rem;z-index: 2; }
.banner .banner-wrapper .title {padding-top: 0;margin-bottom: 10px;}
.banner .banner-title {position: relative;padding-bottom: 1rem;margin-bottom: 0.8rem;margin-top: 1rem;line-height: 1.6;font-family: 'Montserrat';text-transform: uppercase;letter-spacing: 1px;font-weight: 700;}
.banner .banner-title::after {content:"";background:#fff;position: absolute;height: 2px;width:10%;left:50%;margin-left: -5%; bottom:0;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.banner:hover .banner-title::after {width:20%;margin-left: -10%;}
.banner .banner-info {position: relative; font-size: 1.15rem;color:rgba(255,255,255,0.8);line-height: 1.7;margin:1rem 0 0.8rem 0;display: block;}
.banner-sm .banner-wrapper{padding:2rem 0;}
.banner-lg .banner-wrapper{padding:5rem 0;}
.banner-hg .banner-wrapper{padding:8rem 0;}
.banner.banner-tall {min-height: 500px;}
.banner.banner-bordered:before {content:"";position: absolute;top:15px;left:15px;z-index: 3;width: calc(100% - 30px);height: calc(100% - 30px); border:2px solid rgba(255,255,255,0.9);}
.banner.banner-bordered .banner-wrapper {padding: 3.5rem 3rem;}

/* Shop Breadcrumb */
.shop-breadcrumb {float: left;margin-right: 2rem; margin-top: 7px;}
.shop-breadcrumb ul {padding-left: 0;}
.shop-breadcrumb ul li {color:#A2A2A2;list-style: none;display: inline-block;}
.shop-breadcrumb ul li a {color:#121212;font-size: .9rem; -webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}
.shop-breadcrumb ul li a:hover {color:#E2785D;}
.shop-breadcrumb ul li a::after {color:#A1A1A1; content:"\f105";padding-left: 8px;padding-right: 6px;opacity: .5; display: inline-block;font-family: FontAwesome;}

/* Sort Options */
.sort-options {
	margin: -60px 0 0 0;
	display: block;
	display: inline-block;
	float: right;
}
.sort-options .shop-result-count {float: right;font-size: .9rem;padding-right: 0;color:rgba(0,0,0,.8);margin: 0;padding-top: 7px;}
.sort-options .shop-result-count.label-count {margin: 0 10px 0 40px;}
.sort-options .select-filters .select-filter ul li a{padding: 10px;}
.sort-options .select-filters .select-filter ul li a:hover{background: #E2785D;color:#fff;}
.sort-options .select-filters {float: right;} 
.sort-options .select-filters .btn-group.select-filter {width: auto;}
.sort-options .select-filters .select-filter ul li a:before{display:none}
.sort-options .view-switcher {float: left;margin-top: 6px;font-size: 1.1rem;}

/* Products List Sidebar */
.products-sidebar {margin-bottom: 2rem;position: relative;padding-right: 15px;}
.products-sidebar .filter-element:not(:first-child) {margin-top: 3rem;}
.products-sidebar ul, .products-sidebar ol {padding-left: 0;list-style: none;}
.products-sidebar #amount, .widget-pricing-range #amount {border:0; color:rgba(0,0,0,0.4);display: inline-block; font-weight:bold;}
.products-sidebar .select-filters h3{margin-bottom: 2rem;}
//.products-sidebar .widget:last-child {border-bottom: none;}
.products-sidebar .select-filter {margin: 0 0 1.5rem 0;}
.products-sidebar .select-filter:last-child {margin-bottom: 0;}
.products-sidebar .products-categories a {font-weight: 500; line-height: 18px;}
.products-sidebar .products-categories a small {font-weight: normal; font-size: 90%;padding-left: .5rem;}
.inline-slider-price {display: inline-block;}

/* Extended Products */
.extended-product {padding: 0;width: 100%;min-height: 500px;margin-left: 0;margin-right: 0;overflow-x:hidden;}
.extended-product .extended-product-desc, .extended-product .extended-product-img {padding-left: 0;padding-right: 0;}
.extended-product .extended-product-desc-wrapper {margin: 30px;}
.extended-product .extended-product-desc .product-single {padding: 30px;}
.extended-product .extended-product-desc .extended-product-desc-wrapper{margin-left: 0;}
.extended-product .extended-product-img ~ .extended-product-desc .extended-product-desc-wrapper{margin-right: 0;margin-left: 30px;}
.extended-product .extended-product-desc p {font-size: 1.2rem;}
.extended-product .extended-product-img {min-height:550px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.extended-product .extended-product-img img {width: 100%;}
.extended-product .product-top-info {border-bottom: none !important;margin-bottom: 0;}
.extended-product .btn {margin-top: 2.5rem;}
.extended-product .product-single img {margin: auto;margin-bottom: 2.5rem;width: 100%;}
.extended-product.extended-product-first .extended-product-desc-wrapper {margin-top: 0;}
.extended-product.extended-product-last .extended-product-desc-wrapper {margin-bottom: 0;}
.extended-product.extended-third .extended-product-desc .extended-product-desc-wrapper, .extended-product.extended-third .extended-product-img-wrapper {margin: 30px 10px 0 10px;}
.extended-product.extended-third >div:first-child .extended-product-desc-wrapper, .extended-product.extended-third >div:first-child .extended-product-img-wrapper{margin-left: 0; margin-right: 15px;}
.extended-product.extended-third >div:last-child .extended-product-desc-wrapper, .extended-product.extended-third >div:last-child .extended-product-img-wrapper{margin-left: 15px; margin-right: 0;}
.extended-product.extended-alone .extended-product-img-wrapper {margin-top: 30px;}

/* Animated Checklist */
.checklist li{font-size:1rem;font-weight:300;list-style:none;padding:7px 0 7px 23px !important;}
.checklist li span{float:left;width:13px;height:13px;margin-left:-23px;margin-top:4px;border:1px solid #d1d3d7;position:relative}
.sizes li span,.categories .sizes li{-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}
.checklist li a{color:#676a74 !important;display: block; text-decoration:none;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}
.checklist li.checked a {color:$orange !important;}
.checklist li a:hover{color:$orange !important;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}
.checklist a:hover span{border-color:$orange}
.sizes a:hover span,.categories a:hover span{border-color:$orange;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out}
.checklist a span span{border:none;margin:0;float:none;position:absolute;top:0;left:0}
.checklist a .x{display:block;width:0;height:2px;background:$orange;top:6px;left:2px;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all 50ms ease-out}
.checklist a .x.animate{width:4px;-webkit-transition:all 100ms ease-in;-moz-transition:all 100ms ease-in;-ms-transition:all 100ms ease-in;-o-transition:all 100ms ease-in;transition:all 100ms ease-in}
.checklist a .y{display:block;width:0;height:2px;background:$orange;top:4px;left:3px;-ms-transform:rotate(13deg);-webkit-transform:rotate(135deg);transform:rotate(135deg);-webkit-transition:all 50ms ease-out}
.checklist a .y.animate{width:8px;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out}
.checklist .checked span{border-color:$orange}

.checklist li span.price {
	float: none;
	width: auto;
	height: auto;
	margin-left: 0;
	margin-top: 0;
	border: none;
}

.checklist a.btn-remove {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	em {
		text-indent: -9999px;
		display: inline-block;
	}
	&:before {
		position: absolute;
		content: "\f057";
		font-family: "FontAwesome";
		padding-left: .5rem;
		font-size: 22px;
		color: rgba(0,0,0,0.6);
	}
}

/* Products List Main Content */
// .product {background: #F8F8F8;padding-bottom: 0.3rem;position: relative; padding-top: 1.5rem;margin-bottom: 1.8rem;}
.owl-carousel .product {margin-bottom: 0;}
.product .product-wrapper{position:relative;overflow:hidden;margin-bottom:2em;padding-left: 0;}
.product .product-wrapper li{list-style: none;padding-top: 2.5rem;padding-bottom: 1.7rem; position:absolute;top:0;left:25%;height:100%;width:50%;}
.product .product-wrapper li img {opacity: 0;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;will-change:transform,opacity;-webkit-transform:translateX(200%) scale(0.7);-moz-transform:translateX(200%) scale(0.7);-ms-transform:translateX(200%) scale(0.7);-o-transform:translateX(200%) scale(0.7);transform:translateX(200%) scale(0.7);-webkit-transition:-webkit-transform 0.4s,opacity .4s;-moz-transition:-moz-transform 0.4s,opacity .4s;transition:transform 0.4s,opacity .4s}
.product .product-wrapper li.selected{z-index: 2; position:relative;opacity:1 !important; -webkit-transform:translateX(0) scale(1);-moz-transform:translateX(0) scale(1);-ms-transform:translateX(0) scale(1);-o-transform:translateX(0) scale(1);transform:translateZ(0) scale(1);-webkit-backface-visibility: hidden;backface-visibility: hidden;   }
.product .product-wrapper li.selected img {position:relative;opacity:1;-webkit-transition:-webkit-transform 0.4s,opacity .4s;-moz-transition:-moz-transform 0.4s,opacity .4s;transition:transform 0.4s,opacity .4s; -webkit-transform:translateZ(0) scale(1.3); transform:translateZ(0) scale(1.3);}  
.product .product-wrapper li.move-left img{opacity:.3 !important;-webkit-transform:translateX(-100%) scale(0.7);-moz-transform:translateX(-100%) scale(0.7);-ms-transform:translateX(-100%) scale(0.7);-o-transform:translateX(-100%) scale(0.7);transform:translateX(-100%) scale(0.7);}
.product .product-wrapper li.move-right img{opacity:.3 !important;-webkit-transform:translateX(100%) scale(0.7);-moz-transform:translateX(100%) scale(0.7);-ms-transform:translateX(100%) scale(0.7);-o-transform:translateX(100%) scale(0.7);transform:translateX(100%) scale(0.7);}
.product .product-wrapper li.hide-left img{-webkit-transform:translateX(-200%) scale(0.7);-moz-transform:translateX(-200%) scale(0.7);-ms-transform:translateX(-200%) scale(0.7);-o-transform:translateX(-200%) scale(0.7);transform:translateX(-200%) scale(0.7)}
.product .product-wrapper li img{display:block;width:100%}
.product .dots{position:absolute;z-index: 20; bottom:70px;left:50%;right:auto;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);padding:.2em}
.product .dots::after{clear:both;content:"";display:table}
.product .dots {opacity: 0;webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.product:hover .dots, .dots:hover {opacity: 1;}
.product .dots li{display:inline-block;float:left;margin:0 5px;pointer-events:none}
.product .dots li.selected a{background:#2f2933;border-color:#2f2933}
.product .dots a{display:block;height:6px;width:6px;border-radius:50%;border:1px solid #9688a0;overflow:hidden;text-indent:100%;white-space:nowrap;-webkit-transition:border-color 0.2s,background-color 0.2s;-moz-transition:border-color 0.2s,background-color 0.2s;transition:border-color 0.2s,background-color 0.2s}
.no-touch .product:hover li.move-right img, .no-touch .product:hover li.move-left img{opacity: 0.3;}
.product .product-overlay{position: absolute;top: -2px;left: 0;opacity:0;width: 100%;height: 2.5rem;padding: 1.3rem 1.6rem;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}
.product .product-overlay i {display: block;margin:auto;font-size: 18px; text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); }
.product .product-overlay p {text-align:center;width: 100%;margin-top: 0;font-size: 13px;font-weight: 600}
.product .product-overlay .product-quickview, .product .product-overlay .product-wishlist {cursor: pointer}
.product .product-overlay .product-quickview i, .product .product-overlay .product-wishlist i{margin-top: 0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.product:hover .product-overlay {top:0;}
.product:hover .product-overlay .product-quickview i, .product:hover .product-overlay .product-wishlist i{margin-top: 0;}
.product .product-overlay .product-quickview a {color:#121212;}
.product .product-overlay .product-quickview i {float: left;}
.product .product-overlay .product-wishlist i {float: right;}
.product .product-overlay .product-wishlist i.fa-heart {color:#E2785D;}
.product:hover .product-overlay{opacity:1; bottom:0;}
.product .product-info{padding:0 1.6em 0.5rem 1.6rem;position: relative;}
.product .product-info::after{clear:both;content:"";display:table}
.product .product-info .product-name {font-size: 1.1rem;font-weight: 600;margin-bottom: 0;line-height: normal;float: left;}
.product .product-info .product-price,.product .product-info .product-new-price{font-weight:normal;font-size:1rem;float: right;margin-bottom: 0;line-height: normal;}
.product .product-info .product-price{color:#353535;position:relative;-webkit-transition:color 0.2s;-moz-transition:color 0.2s;transition:color 0.2s;}
.product .product-info .product-price::after{content:'';position:absolute;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);left:0;height:2px;width:0;background-color:#353535;opacity:0;-webkit-transition:width 0.2s 0s,opacity 0 0.2s;-moz-transition:width 0.2s 0s,opacity 0 0.2s;transition:width 0.2s 0s, opacity 0s 0.2s}
.product .product-info .product-price.on-sale::after{opacity:1;width:100%;-webkit-transition:width 0.2s 0s,opacity 0s 0s;-moz-transition:width 0.2s 0s,opacity 0s 0s;transition:width 0.2s 0s,opacity 0s 0s}
.product .product-info .product-new-price{color:#E2785D;opacity:0;margin-right: 0.6rem; -webkit-transform:translateX(5px);-moz-transform:translateX(5px);-ms-transform:translateX(5px);-o-transform:translateX(5px);transform:translateX(5px);-webkit-transition:-webkit-transform 0.2s,opacity 0.2s;-moz-transition:-moz-transform 0.2s,opacity 0.2s;transition:transform 0.2s,opacity 0.2s;}
.product .product-info .product-new-price.is-visible{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);opacity:1}
.product .product-info .add-to-cart, .product .product-info .view-cart{display: block;position: absolute;right:1.6rem;top:2px; color:#E2785D;float:right; opacity: 0;font-size: 0.8rem; border:0 none;border-radius:0;font-weight: 700; text-transform: uppercase;letter-spacing: 1px; font-weight: 600; -webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}
.product:hover .product-info .add-to-cart, .product:hover .product-info .view-cart{opacity: 1;top:0;}
.product .product-rating {float: left;font-size: 0.8rem;opacity: 0.5;-webkit-transition:opacity 0.2s;-moz-transition:opacity 0.2s;-o-transition:opacity 0.2s;transition:opacity 0.2s}
.product:hover .product-rating {opacity: 0.8;}
.no-js .move-right,.no-js .move-left{display:none}
.products-list .pagination-wrapper {margin: 3rem auto 4rem auto;font-weight: 600;}

/* Quickview Product */
.quickview {max-width: 850px;position: relative;background: #FFF;width:auto;margin: 0 auto;}
.quickview .product-name {font-size: 1.6rem;font-weight: 700;}
.quickview  .product-quick-desc {font-family: 'Satisfy','Open Sans',arial;color:#E2785D;ofont-style: italic;font-size: 1.2rem;font-weight: 300;margin-bottom: 0.2rem;}
.quickview .product-price {font-size: 1.3rem;margin-bottom: 1rem;padding-bottom: 0.8rem; border-bottom: 1px solid #eee;}
.quickview .product-buttons {margin-top: 1rem; margin-bottom: 1.8rem;padding-bottom: 1.2rem; border-bottom: 1px solid #eee;}
.quickview .product-buttons .quantity {float: left;margin-right: 1.4rem;}
.quickview .flexslider {background: #EDEEEE;}
.quickview .quickview-title {font-size: 0.8rem;text-transform: uppercase;letter-spacing: 1px;font-weight: 600;float: left;margin-right: 1rem;margin-bottom: 0;padding-top:3px;}
.quickview .tags a {font-size: 0.75rem;padding: 2px 8px;}
.quickview .btn {font-size: 1rem;}
.quickview .slides {padding: 1.5rem 0 1.5rem 0;}

/* Shopping Cart */
.table-cart {background: none;}
.table-cart img {height: 100%;max-height: 100px;}
.table-cart th {text-transform: uppercase;letter-spacing: 1px;font-size: 0.85rem;}
.table-cart th:last-child, .table-cart td:last-child {width:50px;padding: 0;}
.table-cart.table>tbody>tr {border-top: 1px dashed #ddd;text-align: left;}
.table-cart.table>tbody>tr:first-child {border-top: none;}
.table-cart .product-remove, .table-cart .product-name, .table-cart .product-price, .table-cart .product-total, .table-cart .product-stock, .table-cart .product-add-cart  {display: table-cell;vertical-align: middle;height: 100%; font-size: 1.1rem;}
.table-cart .product-qty {padding-top:2.4rem;}
.table-cart .product-thumbnail {padding-left: 0;}
.cart-wrapper {color:#DCDCDC; background: #323232;padding: 1.3rem 1.3rem 0.5rem 1.3rem;}
.cart-wrapper input[type="radio"]+label{color:#D1D1D1;} 
.cart-wrapper input[type="radio"]:checked+label{color:#fff;} 
.cart-wrapper h3, .cart-wrapper h4  {color:#fff; text-transform: uppercase;letter-spacing: 1px;font-size: 1rem;border-bottom: 1px solid rgba(255,255,255,0.1);padding-bottom: 1.2rem;margin-top: 0;}
.cart-wrapper ul {padding-left: 0;}
.cart-wrapper ul li {list-style: none;}
.cart-wrapper table {background: none;overflow: hidden;}
.cart-wrapper table td {border:none !important;color:#fff;}
.cart-wrapper table td {padding: 1rem 0 !important;height: 100%;vertical-align: middle !important;}
.cart-wrapper table tr td:first-child {font-weight: 300;font-size: 1.1rem; width: 45%; padding-right: 25px !important;}
.cart-wrapper table tr.cart-item td:first-child {font-weight: 600;font-size: 1rem;}
.cart-wrapper .cart-subtotal td:first-child, .cart-wrapper .cart-total td:first-child{color:#ED9983;text-transform: uppercase;letter-spacing: 1px;font-size: 0.95rem;font-weight: 600;}
.cart-wrapper table label {font-weight: 300;color:#fff;}
.cart-wrapper input[type="radio"] + label::before {background:#3F3F3F;border:none; }
#main-content .cart-wrapper input[type="radio"] + label::after {background-image: url(../images/form/cd-icon-radio-dark.svg);background-color: #fff !important;}
.cart-wrapper .cart-subtotal td:last-child {color:rgba(255,255,255,0.5);}
.cart-wrapper .cart-total td:last-child {font-size: 1.3rem;font-weight: 500;}
.cart-wrapper .btn {font-size: 0.9rem;margin-bottom: 0;}
.cart-wrapper .btn-cart {margin-right: 13px;}
.cart-wrapper .btn-checkout {margin-right: 0;}
.cart-wrapper .btn-default.btn-bordered {color:#fff;}
.cart-wrapper .btn-default.btn-bordered:hover {color:#343434;}
.coupon-wrapper {padding: 1.3rem;background: #EAEAEA;margin-bottom: 2rem;}
.coupon-wrapper form {margin-top: 1.2rem;}
.coupon-wrapper h3 {text-transform: uppercase;letter-spacing: 1px;font-size: 1rem;border-bottom: 1px solid rgba(0,0,0,0.1);padding-bottom: 1.2rem;margin-top: 0;}
.coupon-wrapper .form-control, .coupon-wrapper .btn {height: 36px;border: none !important;}
.coupon-wrapper .form-control {min-width: 256px;}
.coupon-wrapper .btn {margin-right: 0;font-weight: 500;font-size: 0.9rem;}

/* Shopping Cart Quickview */
#cart-quickview{display:none;position:absolute;right:30px;background:#202020!important;width:260px;padding:0 1rem;box-shadow:2px 1px 4px 1px rgba(0,0,0,.1)}
#cart-quickview li{list-style:none;display:block}
#cart-quickview table{margin-bottom:0}
#cart-quickview table,#cart-quickview table td,#cart-quickview table td a,#cart-quickview table td a i{color:#fff!important}
#cart-quickview .table-cart.table>tbody>tr:first-child{border-top:none}
#cart-quickview .table-cart.table>tbody>tr{border-top:1px solid rgba(255,255,255,.07)}
#cart-quickview table td{padding:1rem 0}
#cart-quickview table td a{height:auto!important}
#cart-quickview table .product-thumbnail{width:70px;padding-right:.6rem}
#cart-quickview table .product-thumbnail img{border-radius:45px;border-radius:50%;width:100%;height:auto}
#cart-quickview .table-cart .product-name,#cart-quickview .table-cart .product-price,#cart-quickview .table-cart .product-qty{font-size:.9rem;display:block}
#cart-quickview .product-name{font-weight:700}
#cart-quickview .product-price,#cart-quickview .product-qty{padding-top:.3rem;color:rgba(255,255,255,.7)}
#cart-quickview .product-qty{padding-top:0}
#cart-quickview .product-remove{padding:0;width:5px;vertical-align:top;padding-top:.8rem}
#cart-quickview .product-remove a{float:right;vertical-align:top}
#cart-quickview .btn{display:block;height:auto;margin-bottom:.7rem}
#cart-quickview .cart-total{margin-bottom:1rem}
#cart-quickview .cart-total span{font-weight:700;text-transform:uppercase;display:inline-block;color:rgba(255,255,255,.7)}
#cart-quickview .cart-total span.cart-total-value{text-align:right;float:right;color:#fff}
#cart-quickview .cart-empty{padding-top:.8rem;color:#fff;margin-bottom:.8rem}
#ship-different-address h4{margin-right:1rem}

/* Checkout */
#ship-different-address h4 {margin-right: 1rem;}
#ship-different-address .checkbox label {}
#different-address-info {display: none;}
#different-address-info > div {opacity: 0;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;transition: all .3s ease-in-out}
#different-address-info.ship-visible  > div {opacity: 1;}
.cart-wrapper.checkout .cart-item span {font-weight: 300;font-size: 0.8rem;padding-left: 0.3rem;}
#payment-methods {margin-bottom: 1.5rem;}
#payment-methods label {font-weight: 500;padding-left: 2rem;font-size: 1.2rem;}
#payment-methods p {color:rgba(255,255,255,0.6);font-size: 0.95rem;}
#payment-methods img {display: inline-block;padding-left: 0.8rem; margin-top: -6px; height: 30px}
.section-checkout .coupon-wrapper #aw-onestepcheckout-review-coupon {display: none;}
#toggle-coupon {margin-bottom: 0;}
#toggle-coupon a {font-weight: 600;text-transform: uppercase;letter-spacing: 1px;font-size: .85rem;}
.section-checkout .coupon-wrapper .coupon-code-form {opacity: 0;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;transition: all .3s ease-in-out}
.section-checkout .coupon-wrapper .coupon-visible .coupon-code-form {opacity: 1;}
.login-wrapper {padding: 1.3rem;background: #EAEAEA;margin-bottom: 2rem;}
.login-wrapper form {margin-top: 1.2rem;}
.login-wrapper h3 {text-transform: uppercase;letter-spacing: 1px;font-size: 1rem;border-bottom: 1px solid rgba(0,0,0,0.1);padding-bottom: 1.2rem;margin-top: 0;}
.login-wrapper .form-control, .login-wrapper .btn {height: 36px;border: none !important;}
.login-wrapper .form-control {min-width: 256px;}
.login-wrapper .btn {margin-right: 0;font-weight: 500;font-size: 0.9rem;}
.section-checkout .login-wrapper #aw-onestepcheckout-authentification {display: none;}
#toggle-login {margin-bottom: 0;}
#toggle-login a {font-weight: 600;text-transform: uppercase;letter-spacing: 1px;font-size: .85rem;}
.login-wrapper form > div{opacity: 0;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;transition: all .3s ease-in-out}
.aw-onestepcheckout-error-msg {
	opacity: 1 !important;
	ul {
		list-style: none;
		padding: 0;
		li {
			font-size: 14px;
			color: $red;
		}
	}
}
.login-wrapper .login-visible .form-list {opacity: 1;}

/* Checkout Address */
.address-form .address-form-element {position: relative;background:#F2F2F2;padding:20px 30px 10px 30px;}

/* Wishlist */
.wishlist .table-cart.table>tbody>tr:first-child>td {border-top: none;}
.wishlist .table-cart td:first-child {width:50px;padding: 0;}
.wishlist .table-cart .product-name {font-weight: 600;}
.wishlist .table-cart .product-thumbnail {min-width: 120px;}


.product-single .product-name {font-size: 1.6rem;font-weight: 700; margin-bottom: 25px; text-transform: uppercase;}
.product-single .product-quick-desc {font-family: 'Satisfy','Open Sans',arial;color:#E2785D;font-style: italic;font-size: 1.4rem;font-weight: 300;margin-bottom: 0.2rem;}
.product-top-info {border-bottom: 1px solid #eee;margin-bottom: 1rem;}
.product-top-info:before, .product-top-info:after {display: table;content: " ";}
.product-single .product-price {float:left; font-size: 1.8rem;margin-bottom: 0;padding-bottom: 0.5rem; border-bottom:none;}
.product-single .product-rating {float: right; padding-top: 12px;}
.product-single .product-rating .rating, .product-single .product-rating a {float: left;}
.product-single .product-rating .rating {padding-top: 2px;}
.product-single .product-rating a {padding-left: 0.5rem;}
.product-single .product-buttons {margin-top:1.5rem;}
.product-single .product-buttons .quantity {float: left;margin-right: 1.4rem;}
.product-single .flexslider figure {background: #EDEEEE;}
.product-single .quickview-title {font-size: 0.8rem;text-transform: uppercase;letter-spacing: 1px;font-weight: 600;float: left;margin-right: 1rem;margin-bottom: 0;padding-top:3px;}
.product-single .tags a {font-size: 0.75rem;padding: 2px 8px;}
.product-single .btn {font-size: 1rem;}
.product-single .product-wishlist {font-size: 0.9rem; display: block;color:rgba(0,0,0,0.5); text-transform: uppercase;letter-spacing: 1px;margin-top: 1.8rem;font-weight: 600;-webkit-transition:color 0.2s;-moz-transition:color 0.2s;-o-transition:color 0.2s;transition:color 0.2s;}
.product-single .product-wishlist:hover, .product-single .product-wishlist .fa.fa-heart{color:#E2785D;}
.product-single .flexslider li {background:#eaeaea }
.product-single .flex-control-thumbs {margin-top: 0;}
.product-single .flexslider .flex-control-nav {width: 105%;margin-left:-2.5%;}
.product-single .flexslider .flex-control-nav li {width: 24%;margin-right: 1%;margin-top: 1%;}
.product-single .tab-content {padding-top: 0;}
.product-single .tab-content>.tab-pane {padding-bottom: 0;}
.product-single .product-info {margin-top: 3rem;}
.product-single .product-info {margin-top: 3rem;}
.product-single .product-info .product-tabs {text-align: center;display: table;padding-left: 0;width: 100%;margin-bottom: 0;margin-top: 2rem;border-top: 2px solid #eaeaea;border-bottom: 2px solid #eaeaea;}
.product-single .product-info .product-tabs li {font-size: 0.95rem; list-style: none;display: inline-block;padding:1.2rem 2rem;margin:0 0.5rem; text-transform: uppercase;letter-spacing: 1px;font-weight: 600;}
.product-single .product-info .product-tabs li.active {color:#E2785D;}
.product-single .product-info .product-tabs li a {-webkit-transition:color 0.2s;-moz-transition:color 0.2s;transition:color 0.2s;color:rgba(0,0,0,0.4);-webkit-transition:color 0.2s;-moz-transition:color 0.2s;-o-transition:color 0.2s;transition:color 0.2s; display: block !important;}
.product-single .product-info .product-tabs li:hover a, .product-single .product-info .product-tabs li.active a, .product-single .product-info .product-tabs li a.active {color:rgba(0,0,0,0.9);}
.product-single .product-info #info {padding-top: 3rem; font-size: 14px;}
.product-single .product-info #info table {font-size: 1rem;background: none;}
.product-single .product-info #info .table>tbody>tr>td, .product-single .product-info #info .table>tbody>tr>th, .product-single .product-info #info .table>tfoot>tr>td, .product-single .product-info #info .table>tfoot>tr>th, .product-single .product-info #info .table>thead>tr>td, .product-single .product-info #info .table>thead>tr>th {padding: 11px 8px;border-top: 0;border-bottom: 1px solid #eaeaea;}
.product-single .product-info #info .table>tbody>tr:last-child>td {border-bottom: none;}
.product-single .product-info #info .table tr td {width: 50%;}
.product-single .product-info #info .table tr td:nth-child(1) {text-align: right;}
.product-single .product-info #info .table tr td:nth-child(2) {color:#979797;text-align: left;}
.product-single .product-info #reviews {padding-top: 3rem;}
.product-single .product-info #reviews img {max-width: 75px;margin-right: 1rem;margin-top: 0.7rem;}
.product-single .product-info #reviews .review-date {font-size: 0.9rem;color:rgba(0,0,0,0.4);font-style: italic;font-weight: 600;padding-left: 1rem;}
.product-single .product-info #reviews .reviews-list h4, .product-single .product-info #reviews .add-review h4 {font-size: 1rem; font-weight: 600;margin-bottom: 1.5rem;margin-top: 0;text-transform: uppercase;letter-spacing: 1px;}
.product-single .product-info #reviews .reviews-list .review-name {font-weight: 600;margin-bottom: 0;}
.product-single .product-info #reviews .reviews-list .media {border-bottom:1px solid #eaeaea;}
.product-single .product-info #details {border-bottom:2px solid #eaeaea;}
.product-single .product-info #details .flexslider li {background: none;}
.product-single .product-info #details .flexslider li img {max-width: 650px;}
.review_rating-box .rating { font-size: 1.4em; } 
.add-review-button .btn {margin-right: 2rem;}
.add-review-button .rating {color:rgba(0,0,0,0.3);}
.product-single .shop-breadcrumb {float: none;margin-bottom: 2rem;}
.toast .notif-cart .img-wrapper {max-width: 60px;max-height: 60px;overflow: hidden; border-radius: 50%;margin-right: 0.8rem;float: left;}
.toast .notif-cart img {width: 100%;}
.toast .text-wrapper {float:left; margin-top: 0.5rem;}
.product-carousel {margin-bottom: 20px;}
.product-single label {display: block;}
.product-single .select2-container {max-width: 291px;}
#clear-selection a {font-size: 0.95rem;}
#product-slider {margin-bottom: 10px;}
#product-slider .flex-control-nav, #product-slider-thumbnails .flex-control-nav {display: none;}
#product-slider-thumbnails li {margin-right: 10px;}
#product-slider-thumbnails .flex-direction-nav a { height: 30px;width: 30px;margin: -15px 0 0; background: none;}
#product-slider-thumbnails .flex-direction-nav a.flex-prev::before, #product-slider-thumbnails .flex-direction-nav a.flex-next::before {color:#373737;font-size: 1.5rem;}
#product-slider-thumbnails .flex-direction-nav li a{margin-top: -18px;}
.quantity-cart {margin-top: 1rem;}
.grouped-item:before, .grouped-item:after {content:"";display:table;}
.grouped-item {margin-bottom: 2rem;}
.grouped-item .quantity-cart {float: left;min-width: 100px;margin-top: 0;}
.grouped-item .grouped-item-name  {font-weight: 600;}
.grouped-item .grouped-item-price {font-size: 0.9rem;color:#E2785D;font-weight: 600;padding-top: 5px;}
.product-single .third-section .img-cover {text-align: center;}
.product-single .third-section .img-cover img {padding-top: 3.2rem;padding-bottom: 3.2rem;width: 100%;max-width: 500px;}
.product-single .third-section>div:not(.img-cover) {padding-top: 4rem;padding-bottom: 4rem;}
.product-single .third-section .title, .product-single .half-section .title {margin-bottom: 10px;}
.product-single .half-section.half-section-fullwidth [class*="col-"] {width: 100%;margin-left: 0;margin-right: 0;}
.product-single .half-section-fullwidth~.half-section-fullwidth {margin-top: 0;}
.product-single .half-section>div:not(.img-cover), .product-single .half-section.half-section-fullwidth>div:not(.img-cover) {padding: 4rem 1.5rem 3.5rem 1.5rem;}
.product-single .half-section-fullwidth > div.slide-images {padding-top: 0;}

// MD STYLES
.products-list {
	.item {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
		transition: all 0.25s ease;
		//border: solid 1px #d1d3d7;
		margin-bottom: 30px;
		&:hover {
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
			-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
			.product-item-images {
				img {
					transform: scale(1.3);
					-webkit-transform: scale(1.3);
				}
				.product-item-actions {
					opacity: 1;
					transform: translateY(-40px);
					-webkit-transform: translateY(-40px);
				}
				.img-container {
					&:before {
						opacity: 0.2;
					}
				}
			}
		}
		.flag {
			width: 100px;
			background: $orange;
			position: absolute;
			top: -9px;
			left: -33px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			padding: 20px 0 0 0;
			font-size: 12px;
			z-index: 1;
		}
		.product-item-images {
			position: relative;
			overflow: hidden;
			background: $wh;
			margin-bottom: 10px;
			text-align: center;
			width: 100%;
			height: 200px;
			.img-container {
				&:before {
					bottom: 0;
					display: block;
					height: 100%;
					left: 0;
					width: 100%;
					position: absolute;
					right: 0;
					top: 0;
					background: $bl;
					opacity: 0;
					content: "";
					z-index: 1;
					transition: opacity 0.25s ease;
				}
				&.vertical {
					img {
						top: 30px;
					}
				}
			}
			img {
				bottom: 0;
				display: block;
				height: auto;
				left: 0;
				margin: auto;
				max-width: 100%;
				//height: 250px;
				position: absolute;
				right: 0;
				top: -30px;
				transition: transform 0.25s ease;
			}
			.product-item-actions {
				position: absolute;
				width: 100%;
				height: 40px;
				background: rgba($orange, 0.8);
				bottom: -40px;
				transform: translateY(0);
				-webkit-transform: translateY(0);
				left: 0;
				opacity: 0;
				transition: all 0.25s ease;
				z-index: 2;
				//z-index: 4;
				a {
					text-align: center;
					color: $wh;
					font-weight: 700;
					font-size: 15px;
					line-height: 40px;
					padding-top: 3px;
					text-transform: uppercase;
					&.btn-view {
			    		color: $wh;	
			    	}
				}
				&.wishlist {
					span {
						text-indent: -9999px;
					}
				}
			}
		}
		.product-item-details {
			padding: 0 15px 15px 15px;
			.product-item-name {
			    -moz-hyphens: auto;
			    -ms-hyphens: auto;
			    -webkit-hyphens: auto;
			    display: block;
			    hyphens: auto;
			    margin: 5px 0 10px 0;
			    word-wrap: break-word;
			    a {
			    	color: $bl;
					font-size: 16px;
					line-height: 18px;
					margin: 0;
					font-weight: 700;
					display: block;
					&:hover {
						color: $orange;
					}
			    }
			}
		}
		.label-price-from {
			font-size: 12px;
			margin-right: 8px;
		}
		.price-box {
			.price {
				font-weight: bold;
				font-size: 22px;
				color: $orange;
				&.old-price {
					font-size: 12px;
					margin-right: 15px;
					text-decoration: line-through;
					.cent {
						font-size: 12px;
					}
				}
			}
			.cent {
				font-size: 18px;
			}
			.special-price-box {
				display: inline-block;
			}
		}
	}
}
.current-price-value {
	margin-top: 15px;
	font-size: 14px;
	font-weight: 600;
}
.amshopby-cat {
	line-height: 18px;
	margin-bottom: 8px;
	a {
		font-weight: 500;
		line-height: 18px;
		color: #676a74;
		&:hover {
			color: $orange;
		}
	}
}
.single-choice {
	margin-right: 5px;
	margin-bottom: 0;
}

.top-toolbar {
	.pagination-wrapper {
		display: none !important;
	}
}
.bottom-pager {
	.sort-options {
		display: none !important;
	}
}
.amshopby-overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(#f5f6f7, 0.65);

	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: opacity 450ms ease;
	&.visible {
		opacity: 1;
		visibility: visible;
		z-index: 999;
	}
	div {
		@extend .loader-circle;
	}
}
.shopping-filter {
	border: solid 1px #d1d3d7;
	margin-bottom: 15px;
	.block-subtitle {
		font-family: 'Montserrat',arial;
		font-size: 1rem;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 700;
		background: #d1d3d7;
		display: block;
		padding: 15px 10px 15px 15px;
		letter-spacing: 1px;
	}
	.currently {
		padding: 0 15px 15px 15px;
		.checklist {
			li {
				padding-left: 0 !important;
				font-size: 14px;
				line-height: 20px;
				.label-filter {
					font-style: normal;
					font-weight: 700;
				}
				ul {
					li {
						padding: 11px 0 11px 8px !important;
						border-bottom: 1px solid #eaeaea;
					}
				}
			}
		}
	}
	.btn-remove-all {
		background: $bl;
	}
}
#amshopby-price-from-slider, #amshopby-price-to-slider {
	sup {
		font-size: 100%;
		top: inherit;
	}
}
/* Product Single */
#shop .product-single {
	padding-bottom: 60px;margin-top: 60px;
	.price-box {
		span.price {
			color: $orange;
		}
	}
	.product-image {
		position: relative;
		overflow: hidden;
		img {
			margin-top: -30px;
		} 
	} 
	.flag {
		width: 100px;
		background: $orange;
		position: absolute;
		top: -7px;
		left: -34px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		padding: 20px 0 0 0;
		font-size: 12px;
		z-index: 800;
	}
	.product-options {
		input.input-text {
			height: 46px;
			line-height: 46px;
			padding: 0;
			border: 2px solid #EDEDED;
			background-color: #fff;
			display: block;
			box-sizing: border-box;
			padding: 0 8px;
		}
	}
	.product-info {
		#info {
			h2 {
				font-family: 'Montserrat',arial;
				display: inline-block;
				position: relative;
				letter-spacing: 1px;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 2rem;
				padding-bottom: 10px;
				margin-bottom: 15px;
				span {
					color: $red;
				}
				&:after {
					content: "";
					position: absolute;
					left: 0%;
					height: 2px;
					bottom: 0px;
					border-bottom: 2px dashed #232323;
					width: 30px;
				}
			}
			ul {
				list-style: none;
				padding: 0;
				//counter-reset: desc-list-counter;
				li {
					list-style: disc;
					margin-left: 15px; 
					padding: 11px 0 11px 8px;
					border-bottom: 1px solid #eaeaea;
					// &:before {
					// 	content: counter(desc-list-counter);
					// 	counter-increment: desc-list-counter;
					// 	border-radius: 50%;
					// 	width: 30px;
					// 	height: 30px;
					// 	display: inline-block;
					// 	font-size: 14px;
					// 	text-align: center;
					// 	line-height: 30px;
					// 	border: 1px solid rgba(0,0,0,0.1);
					// 	font-weight: 700;
					// 	color: $wh;
					// 	background: $red;
					// 	margin-right: 15px;
					// }
					&:last-child {
						border-bottom: 0;
					}
				}
			}
		}
	}
}
.product-single .flexslider li {
	background: none;
}
#product-slider-thumbnails {
	ul:not(.flex-direction-nav) {
		li {
			border: solid 2px #EDEDED;
			a {
				display: block;
			}
		}
	}
}
.bootstrap-select.select-filter {
	display: inline-block !important;
}
#shop .product-single .configurable-price-from-label {
	font-size: 12px;
}
#shop .product-single select.super-attribute-select {
	display: none;
}
.go-reviews {
	font-size: 12px;
	line-height: 32px;
}
.attr-help {
	font-size: 18px;
	color: $orange;
	margin-left: 10px;
	&:active, &:focus {
		color: $orange;
	} 
} 
.attribute-list-type {
	//height: 320px;
}
.swatch-attr {
	label {
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}
.product-options-bottom {
	margin-top: 15px;
}
dd.swatch-attr {
	max-width: 355px;
	height: 44px;
	position: relative;
	&.validation-failed {
		padding-bottom: 55px;
		ul {
			border-color: red;
		}
	} 
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 46px;
		line-height: 46px;
		border: 2px solid #EDEDED;
		position: relative;
		background: $wh;
		z-index: 5;
		width: 100%;
		li {
			margin: 0;
			padding: 0;
			line-height: 38px;
			text-align: left;
			padding-left: 31px;
			font-size: 14px;
			cursor: pointer;
			font-weight: 700;
			a {
				display: block;
			}
			&.not-available {
				//display: none !important;
				font-weight: 500;
				text-decoration: line-through;
			} 
			-webkit-touch-callout: none; /* iOS Safari */
		    -webkit-user-select: none; /* Safari */
		    -khtml-user-select: none; /* Konqueror HTML */
		    -moz-user-select: none; /* Firefox */
		    -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            &.selected-label {
            	line-height: 44px;
            	padding-left: 15px;
            	position: relative;
            	font-weight: 400;
            	&:after {
            		content: "";
            		position: absolute;
            		left: 0;
            		right: 0;
            		width: 100%;
            		height: 1px;
            		background: #EDEDED;
            		bottom: 0;
            	}
            	em {
            		&.base {
            			font-style: normal;
            			font-weight: 700;
            		}
            		&.not-available {
            			font-weight: 500;
            			text-decoration: line-through;
            		}
            	}
            }
		}
	}
	span.arrow {
		position: absolute;
		right: 3px;
		top: 0;
		height: 44px;
		width: 20px;
		z-index: 10;
		span {
			border-color: #888 transparent transparent transparent;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			height: 0;
			left: 50%;
			margin-left: -4px;
			margin-top: -2px;
			position: absolute;
			top: 50%;
			width: 0;
		}
	}
	&.open {
		ul {
			height: auto;
			z-index: 15;
			position: absolute;
			border-color: rgba($bl, 0.3);
			-moz-box-shadow: 0px 0px 5px 0px rgba(#656565, 0.5);
			-webkit-box-shadow: 0px 0px 5px 0px rgba(#656565, 0.5);
			-o-box-shadow: 0px 0px 5px 0px rgba(#656565, 0.5);
			box-shadow: 0px 0px 5px 0px rgba(#656565, 0.5);
			padding-bottom: 20px;
			li.selected-label {
				margin-bottom: 10px;
			}
		}
		span.arrow {
			z-index: 20;
			span {
				border-color: transparent transparent #888;
				border-width: 0 4px 5px 4px;
			}
		}
	}
}
#shop .product-single {
	span.price {
		font-weight: 700;
		.cent {
			font-size: 22px;
		}
		.d-sign {
			font-weight: 500;
			font-size: 22px;
			//margin-left: -5px;
			top: -.3em;
		}
	}
	.old-price {
		margin-right: 10px;
		span.price, span.price .cent, span.price .d-sign {
			font-size: 16px;
			margin: 0;
			top: 0;
		}
		del {
			color: $orange;
			text-decoration-color: $orange !important;
		} 
	}
	
	.price-box {
		.price {
			&.old-price {
				font-size: 12px;
				margin-right: 15px;
				text-decoration: line-through;
				.cent {
					font-size: 12px;
				}
				.d-sign {
					font-size: 12px;
					//margin-left: -5px;
					top: 0;
				}
			}
		}
		.special-price-box {
			display: inline-block;
		}
	}
	#notice_unavailable {
		opacity: 0;
		margin-top: -15px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
		visibility: hidden;
		position: absolute;
		left: -9999px;
		color: $orange;
		transition: opacity 450ms ease;
		&.visible {
			left: 0;
			position: relative;
			visibility: visible;
			opacity: 1;
		}
	}
	#addtocart_btn {
		&.out-of-stock {
			background: #c3c3c3 !important;
			cursor: not-allowed;
		}
	}
}
.upsell-product-single {
	margin-top: -60px;
} 
.product-single {
	.product-image {
		border: solid 4px #EDEDED;
	}
} 

.option-list-hide {
	display: none !important;
}
body.editor-open {
	overflow: hidden !important;
	.overlay-product-custom {
		opacity: 1;
		z-index: 1100;
		visibility: visible;
		transition: opacity 450ms ease;
	}
	#tpl_drop {
		display: block;
	}
}
#tpl_drop {
	display: none;
}
.overlay-product-custom {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	overflow-y: scroll;
	visibility: hidden;
	min-width: 20rem;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	background: rgba(#f5f6f7, 0.95);
	transition: opacity 450ms ease;
	#close_editor_toggle {
		position: absolute;
		top: 45px;
		right: 45px;
		font-size: 30px;
		cursor: pointer;
		z-index: 99;
	}
	h2 {
		font-size: 26px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
	}
	// &.product-design {
	// 	.overlay-content {
	// 		position: relative;
	// 		top: auto;
	// 		margin-top: auto;
	// 		margin-bottom: auto;
	// 		left: auto;
	// 		transform: none;
	// 	}
	// 	h2 {
	// 		margin-top: 50px;
	// 	}
	// }
	.overlay-content {
		width: 100% !important;
		// position: absolute;
		// top: 50%;
		// margin-top: auto;
		// margin-bottom: auto;
		// left: 50%;
		// margin-left: auto;
		// margin-right: auto;
		// transform: translate(-50%, -50%);
		margin-top: 100px;
		.hidden {
			display: none;
		}
		.item {
			.area {
				overflow: hidden;
				box-shadow: 0 0.125rem 0.25rem 0 rgba(79,90,109,0.25);
				background: $wh;
				display: block;
				cursor: pointer;
				padding: 20px 20px 20px 0;
				transition: box-shadow 200ms linear, opacity 200ms, background 200ms;
				.media {
					float: left;
					width: 33%;
					display: block;
					img {
						max-width: 90%;
						margin-left: 5%;
					}
				}
				.text {
					float: left;
					width: 65%;
					margin-left: 2%;
				}
			}
			h3 {
				font-size: 15px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			p {
				font-size: 15px;
				line-height: 20px;
			}
			.link {
				font-size: 14px;
				text-align: right;
				color: $orange;
				display: block;
			}
			&:hover {
				.area {
					background: lighten(#f5f6f7, 1%);
					box-shadow: 0 0.1875rem 0.625rem 0 rgba(79,90,109,0.3);
				}
				.link {
					text-decoration: underline;
				}
			}
		}
	}
	.back-link {
		margin-top: 15px;
		display: inline-block;
	}
	#dropzone {
		.dz-message .title {
			width: 50%;
			display: block;
			margin-bottom: 0;
			margin: 0 auto;
			text-align: center;
			padding: 0;
		}
		i.fa {
			font-size: 40px;
			text-align: center;
			display: block;
			margin-bottom: 15px;
			opacity: 0.8;
		}
		.dz-preview {
			width: 100%;
			margin: 0;
		}
	}
	.dropzone.dz-drag-hover {
		border-color: lighten($orange, 30%);
	}
	.dz-preview {
		p {
			line-height: 20px;
		}
		.file-info {
			background: #f5f6f7;
			#file_name_drop {
				font-size: 14px;
				span {
					font-weight: 700;
				}
			}
			i.fa {
				text-align: left !important;
				font-size: 55px !important;
				margin-top: 15px;
			}
			.dz-remove {
				text-align: left;
				display: inline-block;
				i.fa {
					font-size: 18px !important;
					margin: 0 !important;
					margin-right: 8px !important;
					display: inline-block !important;
				}
			}
		}
	}
}
.fpd-dialog-head {
	background: $bl !important;
}
#cart_container_area {
	.cart-item {
		.product-name {
			small {
				display: block;
			}
		}
	}
}
#editor_area {
	position: relative;
	#save_btn {
		opacity: 0.7;
		position: absolute;
		bottom: 15px;
		left: 15px;
		&:hover {
			opacity: 1;
		}
	}
	#cart_add_btn {
		position: absolute;
		bottom: 15px;
		right: 30px;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
	#flag_designer {
		&.fpd-drag {
			.fdp-drag-btn-action {
				background:$red;
				color: $wh;
			}
		}
	}
}
#discount-coupon-form {
	display: flex;
}

.comp-checkout {
	display: block;
	.details {
		font-size: 14px;
	}
}
.open-comp-checkout {
	display: inline-block;
	color: $orange;
	font-size: 14px;
	text-decoration: underline;
}

.aw-onestepcheckout-overlay, .aw-onestepcheckout-timer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($wh, 0.6);
}
#acp-overlay{
    z-index: 995;
}
.aw-onestepcheckout-overlay-48{
    background-image: url('../images/ajax-loader-48px.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
.aw-onestepcheckout-overlay-24{
    background-image: url('../images/ajax-loader-24px.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
.aw-onestepcheckout-overlay-16{
    background-image: url('../images/ajax-loader-16px.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
.aw-onestepcheckout-index-index {
	header.section-header {
		z-index: 2;
	}
	#aw-onestepcheckout-general-container {
		position: relative;
		z-index: 1;
	}
}
#aw-onestepcheckout-authentification {
	a {
		margin-top: 15px;
		display: inline-block;
		color: $red;
	}
	p {
		line-height: 18px;
		color: $bl;
	}
}
#aw-onestepcheckout-forgot-password-success {
	margin-top: 20px;
}
.order-finish {
	p.subtitle span {
		color: $red;
	}
	p {
		line-height: 22px;
		margin-bottom: 12px;
	}
}

#aw-onestepcheckout-address-wrapper {
	.address-select-label {
		line-height: 18px;
		margin-bottom: 20px;
	}
	.input-box {
		.radio {
			margin-bottom: 0;
			label {
				line-height: 1;
				position: relative;
				&:before {
					margin-top: 0;
					top: 0;
				}
				&:after {
					margin-top: 0;
					top: 0;	
				}
			}
		}
	}
}
#aw-onestepcheckout-address-billing-wrapper {
	// h4 {
	// 	position: relative;
	// 	padding-bottom: 15px;
	// 	&:after {
	// 		content: "";
	// 		position: absolute;
	// 		left: 0%;
	// 		height: 2px;
	// 		bottom: 0px;
	// 		border-bottom: 2px dashed #232323;
	// 		width: 30px;
	// 	}
	// }
}
#aw-onestepcheckout-billing-address-list, #aw-onestepcheckout-shipping-address-list {
	padding-top: 15px;
}
.dotted-fields {
	position: relative;
	padding-bottom: 15px;
	&:after {
		content: "";
		position: absolute;
		left: 0%;
		height: 2px;
		bottom: 0px;
		border-bottom: 1px dashed #c3c3c3;
		width: 100%;
	}
}
.aw-onestepcheckout-place-order-please-wait {
	opacity: 0;
	transition: opacity 0.25s ease;
	position: absolute;
	left: -9999px;
	&.visible {
		opacity: 1;
		position: relative;
		left: 0;
	}
}
.cart-wrapper table tr#dpdfrrelais {
	td {
		padding-right: 0 !important;
	}
}
#dpdfrrelais {
	.relaypoint_label_find {
		color: $bl;
		font-size: inherit;
	}
}
.col-right-relay {
	h4 {
		margin-top: 0 !important;
	}
	#dpdfrrelais {
		margin-bottom: 30px;
		.relaypoint_label_find {
			width: 80%;
			font-size: 14px;
			line-height: 16px;
		}
		input.relaypoint-input-address, .relaypoint-input-zipcode, .relaypoint-input-city {
			border: 2px solid #EDEDED !important;
			box-shadow: none !important;
			border-radius: 0 !important;
			background: $wh !important;
			height: 46px !important;
			padding: 0 16px !important;
			font-size: 16px !important;
			line-height: 46px !important;
		}
		input.relaypoint-input-address {
			width: 266px !important;
		}
		.relaypoint-input-zipcode {
			width: 86px !important;
		}
		.dpdfrrelais_radio {
			position: absolute;
			left: -9px;
		}
		label {
			&:before, &:after {
				display: none;
			}
		}
		button.dpdfrbutton {
			height: 44px !important;
			margin-top: -2px;
			width: auto !important;
		}
	}
}
#dpdfrrelais {
	position: relative;
	#suggestion {
		div {
			&:first-child {
				&:before {
					content: "";
					position: absolute;
					left: 0%;
					height: 2px;
					border-bottom: 1px dashed #c3c3c3;
					width: 100%;
				}
			}
		}
	}
	.relaypoint_label_find {
		font-size: 14px;
		line-height: 16px;
	}
	button.dpdfrbutton {
		height: 29px !important;
		width: 35px !important;
	}
}
.aw-onestepcheckout-index-index {
	.overlay_alphacube {
		z-index: 10 !important;
	}
	div.dialog {
		z-index: 12 !important;
	}
}
#aw-onestepcheckout-address-wrapper {
	#dpdfrrelais {
		#suggestion span.s1 {
			height: auto;
		}
		#suggestion span.s2 {
			display: none;
		}
		#suggestion span.s3 a {
			width: auto;
		}
		.dpdfrrelais_radio {
			position: absolute;
			left: -9px;
		}
		label {
			&:before, &:after {
				display: none;
			}
		}
	}
}
#payment-methods {
	.sp-methods {
		li {
			margin-bottom: 30px;
			p {
				line-height: 16px;
				margin-bottom: 30px;
				width: 80%;
			}
		}
	}
}

@media (min-width: 1024px) {
  #shop.shop-list,  .categories-list {margin: 0 6rem;width: auto;}
  .boxed #shop {margin: 0 2rem;}
  .product .product-wrapper li.move-left img,.product .product-wrapper li.move-right img{opacity:0;cursor: pointer;}
  .product .product-wrapper li.focus-on-left img{-webkit-transform:translateX(3%) scale(1.25);-moz-transform:translateX(3%) scale(1.25);-ms-transform:translateX(3%) scale(1.25);-o-transform:translateX(3%) scale(1.25);transform:translateX(3%) scale(1.25)}
  .product .product-wrapper li.focus-on-left.move-right img{-webkit-transform:translateX(103%) scale(0.7);-moz-transform:translateX(103%) scale(0.7);-ms-transform:translateX(103%) scale(0.7);-o-transform:translateX(103%) scale(0.7);transform:translateX(103%) scale(0.7)}
  .product .product-wrapper li.focus-on-right img{-webkit-transform:translateX(-3%) scale(1.25);-moz-transform:translateX(-3%) scale(1.25);-ms-transform:translateX(-3%) scale(1.25);-o-transform:translateX(-3%) scale(1.25);transform:translateX(-3%) scale(1.25)}
  .product .product-wrapper li.focus-on-right.move-left img{-webkit-transform:translateX(-103%) scale(0.7);-moz-transform:translateX(-103%) scale(0.7);-ms-transform:translateX(-103%) scale(0.7);-o-transform:translateX(-103%) scale(0.7);transform:translateX(-103%) scale(0.7)}
  .product .product-wrapper li.hover img{opacity:1!important}
  .product .product-wrapper li.hover.move-left img{-webkit-transform:translateX(-97%) scale(0.75);-moz-transform:translateX(-97%) scale(0.75);-ms-transform:translateX(-97%) scale(0.75);-o-transform:translateX(-97%) scale(0.75);transform:translateX(-97%) scale(0.75)}
  .product .product-wrapper li.hover.move-right img {-webkit-transform:translateX(97%) scale(0.75);-moz-transform:translateX(97%) scale(0.75);-ms-transform:translateX(97%) scale(0.75);-o-transform:translateX(97%) scale(0.75);transform:translateX(97%) scale(0.75)}
  .product .dots li{pointer-events:auto}
  .product .dots li.selected a{background:#505050;border-color:#505050;}
  .product .dots a{height:10px;width:10px;border-color:#BDBDBD;background-color:rgba(255,255,255,0)}
}
@media (max-width: 992px){
  .extended-product.extended-third >.col-md-4:first-child .extended-product-desc-wrapper, .extended-product.extended-third >.col-md-4:first-child .extended-product-img-wrapper {margin-right: 0;min-height:550px;}
  .extended-product.extended-third >.col-md-4:last-child .extended-product-desc-wrapper, .extended-product.extended-third >.col-md-4:last-child .extended-product-img-wrapper{margin-left: 0;min-height:550px;}
  .extended-product.extended-third .col-md-4.extended-product-desc .extended-product-desc-wrapper, .extended-product.extended-third .col-md-4 .extended-product-img-wrapper {margin:30px 0 0 0;}
  .extended-product.extended-third >div:first-child .extended-product-desc-wrapper, .extended-product.extended-third >div:first-child .extended-product-img-wrapper{margin-right:0;margin-top: 0;}
  .extended-product.extended-third >div:last-child .extended-product-desc-wrapper, .extended-product.extended-third >div:last-child .extended-product-img-wrapper{margin-left:0;}
  .extended-product.extended-third {margin-top: 30px;}
  .extended-product .extended-product-img ~ .extended-product-desc .extended-product-desc-wrapper {margin-left: 0;margin-top: 0;}
  .extended-product.extended-product-first .extended-product-img ~ .extended-product-desc .extended-product-desc-wrapper {margin-left: 30px;}
  .extended-product.extended-product-middle .extended-product-desc .extended-product-desc-wrapper {margin-top: 30px;margin-right: 30px;}
  .extended-product.extended-product-last .extended-product-desc .extended-product-desc-wrapper {margin-top: 30px;margin-left: 30px;}
  .extended-product.extended-third .extended-product-img ~ .extended-product-desc .extended-product-desc-wrapper {margin-left: 15px;}
  .extended-product.extended-product-last .extended-product-desc.left-side .extended-product-desc-wrapper {margin-left: 0; margin-right: 30px;}
  .extended-product .extended-product-desc {margin-top: 0;}
  .extended-product .extended-product-desc .extended-product-desc-wrapper {margin-left: 0;margin-right: 0;margin-top: 0;}
  .extended-product .col-lg-6 ~ .col-lg-6 {margin-top: 30px;}
  .extended-product.extended-third >div:first-child .extended-product-img-wrapper {margin-right: 15px;}
  .section-checkout .container {width: 90%;}
  #shop .product-single {margin-top: 0;}
  .product-single .third-section {padding-top: 0;padding-bottom: 0;}
  .product-single .third-section .img-cover img {max-width: 600px;padding-top: 0;padding-bottom: 0;}
  .product-single .third-section>div:not(.img-cover) {padding-top:4rem;padding-bottom:4rem;}
  .product-single .product-price {
  	margin-bottom: 0;
  } 
  .product-single .product-rating {
  	// float: left;
  	// padding-top: 0;
  }
  .product-single .btn {
  	font-size: 14px;
  	&.icon-left-effect {
  		padding-left: 40px;
  		padding-right: 20px;

  	}
  }
	#cart_container_area {
		section.section {
			padding-top: 30px;
		}
	}
}
#finition_notice {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 25px;
	color: $orange;
	display: none;
	&.visible {
		display: block;
	}
	span {
		span {
			font-weight: 600;
		}
		&.notice {
			display: none;
			&.visible {
				display: block;
			}
		}
	}
}
.help-btn-custom {
	margin-top: 20px;
}
@media (max-width: 850px){
  .product-single .product-rating {
  	float: left;
  	padding-top: 0;
  }
  .sort-options .shop-result-count.label-count {
  	margin-left: 15px;
  }
  .products-list .item .product-item-images {
  	height: 275px;
  	img {
  		height: auto;
  		width: auto;
  	}
  }
  .products-sidebar .products-categories a {
  	font-size: 14px;
  }
}
@media (max-width: 768px){
  .extended-product .extended-product-desc .product-single {min-height: 0 !important;}
  .extended-product.extended-third >div:first-child .extended-product-img-wrapper {margin-right: 0;}
  .extended-product.extended-third .extended-product-img ~ .extended-product-desc .extended-product-desc-wrapper {margin:30px 0 0 0;}
  .extended-product.extended-product-first .extended-product-img ~ .extended-product-desc .extended-product-desc-wrapper {margin-top: 30px;margin-left: 0;margin-bottom: 0;}
  .extended-product.extended-product-middle .extended-product-desc .extended-product-desc-wrapper, .extended-product.extended-product-last .extended-product-desc.left-side .extended-product-desc-wrapper {margin-right: 0;}
  .extended-product.extended-product-middle .extended-product-desc .extended-product-desc-wrapper, .extended-product.extended-product-last .extended-product-desc .extended-product-desc-wrapper {margin-top: 0;}
  .extended-product:not(.extended-product-last) {margin-bottom:30px}
  .extended-product.extended-product-last > div {margin-bottom: 30px;}
  .extended-product.extended-product-last .extended-product-desc .extended-product-desc-wrapper {margin-left: 0;}
  .shop-breadcrumb {display: none;}
  .section-checkout .container {width: 95%;}
  .wishlist .product-remove {padding-left:0.5rem !important ;padding-right: 0.5rem !important}
  #payment-methods img {display: none;}
  .product-single .product-name {margin-top: 2rem;}
  .product-single .img-cover:not(.header-md):not(.header-lg) {min-height: 0 !important}
  .product-single .half-section>div, .product-single .half-section.half-section-fullwidth>div {padding: 3rem 0.5rem 2.5rem 0.5rem;}
  .product-single .product-price {
  	float: none;
  }
  .product-single .product-rating {
  	float: none;
  	padding-top: 0;
  	display: block;
  }
  .sort-options {
	margin-top: 0;
	margin-bottom: 30px;
  }
  aside .widget {
  	overflow: hidden;
  	.widget-title {
  		position: relative;
  		cursor: pointer;
  		&:after {
			content: "\f078";
			font: normal normal normal 14px/1 'FontAwesome';
			position: absolute;
			right: 15px;
  		}
  	}
  	.widget-content {
  		overflow: hidden;
  	}
  	&.open {
		.widget-title {
	  		&:after {
				content: "\f077";
	  		}
	  	}
	  	
  	}
  }
}
.small-device-totals {
	display: none;
}
@media (max-width: 580px){
	.cart-wrapper table tr td:first-child {
		display: none;
	}
	.coupon-wrapper .form-control {
		width: 100%;
		min-width: 100%;
	}
	#discount-coupon-form {
		display: block;
	}
	.coupon-wrapper .btn {
		display: block;
	}
}
