*:focus {
    outline: none !important;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
strong {
	font-weight: 700;
}
.t-a-l {
    text-align: left;
}

.t-a-c {
    text-align: center;
}

.t-a-r {
    text-align: right;
}

.d-i-b {
    display: inline-block;
}

/* Global Messages  */
.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 !important; line-height:24px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:8px 16px !important; font-size:13px !important; font-weight:400 !important; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.error-msg { background-color:#F2DEDE; border-color:#EED3D7; color:#B94A48; }
.success-msg { background-color:#DFF0D8; border-color:#D6E9C6; color:#468847; }
.note-msg { background-color:#D9EDF7; border-color:#BCE8F1; color:#3A87AD; }
.notice-msg { background-color:#FCF8E3; border-color:#FBEED5; color:#C09853; }

// Chrome
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	-webkit-border-radius: 0;
}