/*!
FOOTERS
*/

/* GLOBAL */

#footer {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  a {
    color: #A9A9A9;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover {
      color: #E0E0E0;
    }
  }
  &.img-cover {
    min-height: 0;
  }
  p {
    color: #888888;
    font-size: 0.9rem;
  }
  .footer-logo {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    margin-bottom: 2rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .widget {
    padding-top: 0;
    padding-bottom: 0;
    .widget-title {
      margin-top: 0;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
  #footer-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &.container-fullwidth {
      padding-left: 130px;
      padding-right: 130px;
    }
  }
  #footer-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(0, 0, 0, 0.5);
    .copyright {
      font-size: 0.8rem;
      color: #888888;
    }
    &.bg-indigo {
      .copyright, p, a {
        color: #fff;
      }
    }
    p {
      margin-bottom: 0;
      margin-top: 5px;
      color: #888888;
    }
    img {
      max-height: 30px;
    }
    .f-logo {
      opacity: 0.5;
    }
    .payment-logo {
      text-align: center;
      img {
        padding-left: 0.5rem;
      }
    }
    .f-social {
      font-size: 1rem;
      margin-top: 5px;
    }
  }
  .widget-twitter .tweets-list {
    padding-left: 0;
    li {
      img {
        display: none;
      }
      small {
        color: rgba(255, 255, 255, 0.45);
      }
    }
  }
  .form-control {
    background: #2F2F2F;
    border: 2px solid transparent;
    color: #fff;
    &:focus {
      background: #1F1F1F;
    }
  }
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
  .widget-text a, .widget-twitter a {
    color: #EAEAEA;
  }
  .widget .widget-title {
    color: #fff;
    letter-spacing: 0.15rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .widget-twitter .tweets-list li {
    color: #888888;
    padding-left: 0;
    line-height: 1.8;
  }
  .widget-links li {
    a {
      &::before {
        color: #888888;
        display: none;
      }
      display: block;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    &:last-child a {
      border-bottom: none;
    }
  }
  .testimonial .comment {
    color: rgba(255, 255, 255, 0.8);
  }
  .testimonial-content {
    background: #262626;
    border: 1px solid #393939;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-style: italic;
    &::before {
      background: #262626;
      border-bottom: 1px solid #393939;
      border-right: 1px solid #393939;
    }
  }
  .owl-theme {
    .owl-nav.disabled + .owl-dots {
      margin-top: 0;
      right: 0;
      position: absolute;
      bottom: -5px;
    }
    .owl-dots .owl-dot {
      span {
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, 0.5);
      }
      &.active span {
        background: #fff;
      }
    }
  }
}

@media (max-width: 992px) {
  #footer.img-cover {
    min-height: 0 !important;
  }
}

/* Footer Widget */

/* Footer Menu */

/* Footer testimonials */

.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

/* Footer Posts */

#footer {
  .widget-posts .post .post-meta {
    color: rgba(255, 255, 255, 0.3);
  }
  .widget-newsletter .form-control {
    background: #333232;
    border: 2px solid #333232;
    &:focus {
      background: #fff;
      border: 2px solid #fff;
      color: #121212;
    }
  }
  .widget-map {
    height: 295px;
    overflow: hidden;
    .map {
      height: 310px;
    }
  }
  .product .product-info .product-price {
    color: #D5D5D5;
  }
  .widget-products .product .product-info {
    color: rgba(255, 255, 255, 0.5);
  }
}

/* Footer Newsletter */

/* Footer Map */

/* Footer products */

@media (max-width: 992px) {
  #footer {
    #footer-main {
      padding: 2rem 2rem 0 2rem;
    }
    #footer-bottom {
      padding: 1rem 2rem;
    }
    #footer-main [class*="col-"] {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 768px) {
  #footer #footer-bottom {
    [class*="col-"] {
      text-align: center;
    }
    .f-social {
      width: 100%;
      margin: auto;
    }
    .copyright {
      margin-bottom: 10px;
    }
  }
}

/* FOOTER REVEAL ON SCROLL */

.footer-reveal {
  #main-content {
    position: relative;
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }
  #footer {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

.boxed.footer-reveal #footer {
  max-width: 1240px;
  margin: auto;
}

.aside-right.footer-reveal.aside-menu-open:not(.aside-hover) #footer {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.left-nav.footer-reveal #footer {
  left: 280px;
}

@media (max-width: 1200px) {
  .left-nav.footer-reveal #footer {
    left: 0;
  }
}

/* Footer 2 */

#footer {
  &.footer-2 {
    #footer-main {
      padding: 0.5rem 2rem 0 2rem;
    }
    background: #fff;
    color: #121212;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    .f-social a {
      font-size: 1.2rem;
      margin: 1rem 0.5rem;
      padding: 0 !important;
      &:hover {
        color: #121212;
      }
    }
    .copyright {
      margin-top: 0.6rem;
      margin-bottom: 4rem;
      font-weight: 600;
      font-size: 0.82rem;
      color: #4C4C4C;
    }
  }
  &.footer-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    #footer-bottom {
      .container {
        border-top: none;
      }
      .copyright {
        color: rgba(255, 255, 255, 0.6);
      }
      .payment-paypal {
        padding-top: 5px;
      }
    }
  }
}

/* Footer Hover */

.left-nav #footer.footer-hover {
  left: 280px;
  right: 0;
  width: auto;
}

/* Background Color */

#footer {
  &.footer-light {
    background: rgba(0, 0, 0, 0.1);
    #footer-bottom {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  &.footer-colored #footer-bottom {
    background: rgba(0, 0, 0, 0.05);
  }
  &.footer-light .widget .widget-title, &.footer-colored .widget .widget-title {
    color: #121212;
  }
  &.footer-light .widget-links li a, &.footer-colored .widget-links li a {
    color: #747474;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  &.footer-light .widget-twitter .tweets-list li small, &.footer-colored .widget-twitter .tweets-list li small {
    color: rgba(0, 0, 0, 0.45);
  }
  &.footer-light {
    .widget-text a, .widget-twitter a {
      color: #303030 !important;
      font-weight: 700;
    }
  }
  &.footer-colored {
    .widget-text a, .widget-twitter a {
      color: #303030 !important;
      font-weight: 700;
    }
  }
  &.footer-light #footer-bottom .copyright, &.footer-colored #footer-bottom .copyright {
    color: #303030 !important;
  }
  &.bg-primary {
    background: #E2785D;
    a i {
      color: #fff;
    }
    #footer-bottom {
      background: transparent;
    }
    .widget .widget-title {
      color: #fff;
    }
    .widget-links li a {
      color: #747474;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .widget-twitter .tweets-list li small {
      color: rgba(0, 0, 0, 0.45);
    }
    .widget-text a, .widget-twitter a {
      color: #303030;
    }
    #footer-bottom .copyright {
      color: #fff;
    }
  }
  &.img-cover {
    p, a, .widget-twitter .tweets-list li {
      color: #EDEDED;
    }
  }
}

/* Image Background */
@media (max-width: 990px) {
  #footer-main {
    .payment-accept p, .widget-links ul {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  #footer-main {
    text-align: center;
  }
}