.header-container {
	.topbar {
		color: #444444;
		margin-bottom: 0;
		line-height: 44px;
		position: relative;
		z-index: 2;
		font-size: 12px;
		border-bottom: solid 1px #d9d9d9;
	}
	.header-block-container {
		display: table;
		height: auto;
		width: 100%;
		float: left;
		position: relative;
		text-transform: uppercase;
	}
	.quick-access {
		float: right;
		position: relative;
		margin-right: 10px;
		a {
			&:hover {
				color: #444444;
			}
		}
		.access-menu {
			display: inline-block;
			margin-left: 15px;
			position: relative;
			a.link-title {
				display: block;
				text-transform: uppercase;
				i {
					display: inline-block;
					padding-left: 10px;
					font-size: 14px;
					&.fa-user, &.fa-info-circle, &.fa-envelope {
						margin-right: 5px;
						font-size: 18px;
						color: rgba(0,0,0,0.6);
					}
				}
			}
			.list {
				right: -10px;
				min-width: 100%;
				opacity: 0;
				position: absolute;
				top: 100%;
				@include prefix(transition, '300ms ease 0s, opacity 300ms ease 0s');
				visibility: hidden;
				z-index: 100;
				margin-top: 1px;
				&.a-r {
					ul {
						text-align: right;
					}
				}
				ul {
					background: $wh;
					border: solid 1px #d9d9d9;
					border-top: none;
					left: -15px;
					list-style: outside none none;
					min-width: 120px;
					padding: 7.5px 0;
					li {
						a {
							text-decoration: none;
							white-space: nowrap;
							width: 100%;
							display: block;
							line-height: 30px;
							padding: 0 15px;
							&:hover {
								color: $orange;
							}
						}
					}
				}
			}
			&:hover {
				a.link-title, a i {
					color: $orange !important;
				}
				.list {
				    opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.header-minicart-container, .logo-container, .top-search-container {
		display: table;
		height: 120px;
		width: 100%;
	}
	.top-search-container {
		.top-search {
			text-align: left;
			display: table-cell;
			vertical-align: middle;
			.navbar-form.form-app {
				width: auto;
				border: 0;
				margin: 0;
				padding: 0;
				position: relative;
			}
			.form-search {
				width: 100%;
				position: relative;
				font-size: 14px;
				label {
					margin: 0;
					text-transform: uppercase;
					color: $bl;
					font-weight: 700;
				}
				input {
					font-size: 13px;
					width: auto;
					display: inline-block;
					vertical-align: middle;
					margin-top: -10px;
					border-left: none;
					border-right: none;
					border-top: none;
					border-color: #d9d9d9;
					padding: 0;
					transition: all 0.15s ease-in-out 0s;
					height: 30px;
					border-radius: 0 !important;
				}
				button {
					width: auto;
					display: inline-block;	
					background-color: transparent;
					border: none;
					padding: 1px 6px 1px;
				}
			}
		}
	}
	.logo-container {
		.logo {
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			img {
				margin: 0 auto;
				max-width: 300px;
			}
		}
	}
	
	.badge {
		display: inline-block;
		font-size: 11px;
		font-weight: normal;
		line-height: 1;
		min-width: 10px;
		padding: 2px 0 0;
		text-align: center;
		vertical-align: top;
		white-space: nowrap;
	}

	.header-minicart {
		z-index: 1;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		float: none;
	}
	.sticky-header-minicart {
		float: right;
	}
	.header-minicart .i-cart{
		font-size: 36px;
	}
	.header-minicart .summary {
		padding: 0 5px 0;
		z-index: 1;
	}
	.header-minicart > .summary {
		display: inline-block;
		.trig-cart {
			cursor: pointer;
		}
	}
	.header-minicart > a, .header-minicart > .summary {
		line-height: 56px;
		position: relative;
		color: #444444;
	}
	.header-minicart > a .price, .header-minicart > .summary .price{
		color: #444444;
		margin-left: 10px;
		font-size: 14px;
		font-weight: 700;
	}
	.header-minicart > a:hover {
		color: #444444;
	}
	.header-minicart .badge {
		background-color: $orange;
		border-radius: 50%;
		color: #ffffff;
		font-size: 11px;
		font-weight: 700;
		height: 24px;
		left: 28px;
		line-height: 24px;
		padding: 0;
		position: absolute;
		text-align: center;
		top: 24px;
		width: 24px;
	}
	#header-cart {
		background-color: #ffffff;
		border: 1px solid #d9d9d9;
		border-radius: 0;
		box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: 0px;
		top: 50px;
		z-index: 1005;
		@include prefix(transition, '300ms ease 0s, opacity 300ms ease 0s');
	}
	.skip-cart {
		&:hover {
			#header-cart {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	#header-cart .minicart-wrapper {
		width: 290px;
		padding: 15px;
	}
	.minicart-wrapper .block-subtitle {
		display: none;
	}
	.minicart-wrapper .empty {
		text-align: center;
		font-size: 13px;
		margin-bottom: 0;
	}
	.mini-products-list {
		padding-left: 0;
	}
	#header-cart ol {
		font-size: 85%;
		list-style: none;
		margin-bottom: 20px;
		margin-top: 0;
		overflow: hidden;
	}
	#header-cart .item {
		margin-bottom: 10px;
		padding-bottom: 10px;
		position: relative;
		line-height: 21px;
	}
	#header-cart .item:last-child, aside .item:last-child {
		border: medium none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#header-cart .product-image {    
		float: left;
		width: 25%;
		text-align: left;
		img {
			width: 80%;
			height: auto;
		}
	}
	#header-cart .product-details {
		width: 75%;
		text-align: left;
	}
	#header-cart .btn-edit, #header-cart .btn-remove{
		position: absolute;
		right: 0;
		top: 0;
	}
	#header-cart .btn-edit{
		top: 30px;
	}
	#header-cart .item-options > dt, 
	#header-cart .item-options > dd {
		margin: 0 5px 7.5px 0;
		line-height: 15px;
	}
	#header-cart .btn-viewcart {
		min-width: 100%;
		margin-bottom: 8px;
	}
	#header-cart .btn-checkout {
		min-width: 100%;
		margin-bottom: 0;
	}
	#header-cart .product-name {
		margin: 0;
		padding-right: 20px;
		line-height: 22.5px;
		font-size: 14px;
	}
	#header-cart .price {
		font-weight: 700;
	}
	#header-cart .subtotal {
		margin-top: 17px;
		text-align: center;
	}
	#header-cart .subtotal .price {
		font-weight: bold;
	}
	.btn-edit, .btn-remove {
		display: inline-block;
		float: right;
		font-family: 'ElegantIcons';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		overflow: hidden;
		position: relative;
	}
	.btn-edit:before {
		content: "\6a";
	}
	.btn-edit {
		font-size: 11px;
		height: 11px;
		width: 11px;
		display: none;
	}
	.btn-remove:before {
		content: "\4d";
	}
	.btn-remove{
		font-size: 22px;
		margin-bottom: 12px;
		height: 21px;
		width: 21px;
	}
	.minicart-actions {
		a {
			display: block;
		}
	}
}

.main-navigation {
	text-align: center;
}

#search_autocomplete {
	background: $wh;
	z-index: 999;
	box-shadow: 0 0 1px rgba(0,0,0,0.28);
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			border-bottom: solid 1px rgba(0,0,0,0.28);
			cursor: pointer;
			padding: 5px 8px;
			line-height: 18px;
			text-transform: uppercase;
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background: rgba(0,0,0,0.1);
			}
		}
	}
}



@media (max-width: 1200px) {
	#main-navigation .main-nav-wrapper #main-menu ul li {
		&.hide-small {
			display: none;
		}
	}
}

#close_bmenu {
	display: none;
}
.header-small-cont {
	display: none;
}

@media (max-width: 850px) {
	body {
		overflow-x:hidden;
	}
	body.bmenu-open {
		overflow-y:hidden;
		#close_bmenu {
			transform: translateX(0);
		}
		&:before {
			content: "";
			background: rgba($bl, 0.6);
			position: absolute;
			z-index: 998;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		#main-navigation {
			transform: translateX(0);
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
	body.bsearch-open {
		#header {
			height: 246px;
			#search_trigger_sm {
				background: $orange;
				.summary, a {
					color: $wh;
				}
			}
			.small-search {
				height: 54px;
				background: $orange;
			}
		}
	}
	#header {
		position: relative;
		height: 192px;
		transition: height .25s ease-in-out;
		overflow: hidden;
		.hide-small {
			display: none !important;
		}
		.topbar {
			position: absolute;
			top: -200px;
			width: 100%;
		}
		.small-search {
			position: absolute;
			width: 100%;
			left: 0;
			top: 191px;
			z-index: 800;
			height: 0;
			overflow: hidden;
			background: transparent;
			transition: all .25s ease-in-out;
			.top-search-container {
				height: 54px;
				display: block;
				.top-search {
					display: block;
					overflow: hidden;
					margin-top: 8px;
					.form-search {
						width: 80%;
						margin: 0 auto;
						height: 38px;
						display: block;
						button {
							position: absolute;
							margin-top: 4px;
							margin-right: 7px;
							right: 0;
						}
						input {
							width: 100%;
							height: 38px;
							margin-top: 0;
							border: none;
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
	.header-container .logo-container {
		img {
			max-width: 200px;
		}
	}
	.header-container .header-minicart-container {
		height: auto;
	}
	.header-container #header-cart {
		display: none !important;
	}
	.header-container .header-minicart {
		padding-left: 15px;
		border-left: solid 1px #d9d9d9;
		.i-cart {
			font-size: 30px;
			display: block;
			float: left;
			margin-top: 12px;
		}
		.badge {
			height: 20px;
			line-height: 20px;
			width: 20px;
			left: 20px;
			display: block;
			float: left;
			top: 27px;
		}
		.price {
			margin-left: 15px !important;
			display: block;
			float: left;
			line-height: 57px;
			.price {
				margin-left: 0 !important;
			}
		}
	}
	.header-container .header-minicart .summary {
		padding: 0;
		padding-right: 15px;
		display: inline-block;
		line-height: inherit;
	}
	.header-container {
		.header-minicart {
			float: right;
			height: 57px;
		}
		.header-small-cont {
			float: right;
			padding-right: 15px;
			display: block;
			&.menu-small {
				padding-top: 6px;
				float: left;
				.xs-small {
					display: none;
				}
				a {
					display: block;
					line-height: 45px;
				}
				span {
					float: left;
					font-size: 45px;
					padding-top: 4px;
					margin-right: 5px;
				}
				em {
					font-style: normal;
					font-size: 14px;
					text-transform: uppercase;
				}
			}
			&:not(.menu-small) {
				border-left: solid 1px #d9d9d9;
				height: 57px;
				padding-left: 15px;
				.summary {
					line-height: inherit;
				    a {
				    	display: block;
				    	margin-top: 14px;
				    }
				}
			}
			.summary {
				line-height: 57px;
			    position: relative;
			    color: #444444;
			    span {
			    	font-size: 26px;
			    }
			}
		}
		.lg-logo {
			width: 100%;
			float: none;
			.logo {
				margin-top: 50px;
				display: block;
			}
		}
		.lg-menu {
			width: 100%;
			float: none;
			position: relative;
			margin-top: 15px;
			&:before {
				content: "";
				position: absolute;
				left: -50%;
				right: -50%;
				top: 0;
				background: #d9d9d9;
				height: 1px;
				width: 200%;
			}
			&:after {
				content: "";
				position: absolute;
				left: -50%;
				right: -50%;
				bottom: 0;
				background: #d9d9d9;
				height: 1px;
				width: 200%;
			}
		}
	}
	#close_bmenu {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		margin-right: 15px;
		z-index: 999;
		transform: translateX(150%);
		transition: transform .25s ease-in-out;
		i {
			font-size: 56px;
			color: $wh;
		}
	}
	#main-navigation {
		position: fixed;
		z-index: 9999;
		background: $bl;
		top: 0;
		left: 0;
		width: calc(100% - 75px);
		height: 100%;
		overflow-y:scroll;
		transform: translateX(-100%);
		.main-nav-wrapper {
			width: 100%;
			height: auto;
			border: none;
			background: none;
			.container-fluid {
				padding: 0;
			}
			.nav-center {
				display: block;
			}
			#main-menu {
				float: none;
				padding: 0;
				display: block;
				ul {
					display: block;
					text-align: left;
					li {
						float: none;
						border: solid 1px lighten($bl, 10%);
						a {
							color: $wh;
							display: block;
							line-height: 60px;
						}
						a.top-level-menu i {
							right: 15px;
						}
						&.hide-small {
							//display: block !important;
						}
					}
					li.mega-menu .mega-menu-content {
						box-shadow: none;
						position: relative;
						background: lighten($bl, 70%);
						ul {
							padding: 0 !important;
							li {
								border-bottom: solid 1px lighten($bl, 50%);
								border-top: none !important;
								border-left: none !important;
								border-right: none !important;
								a {
									margin-bottom: 0 !important;
									line-height: 18px !important;
									padding: 12px 15px;
								}
								&:last-child {
									border-bottom: none !important;
									a {
										
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.footer-reveal #footer {
		position: relative !important;
		z-index: auto !important;
	}
}

body.small-device {
	#main-navigation {
		visibility: hidden;
		opacity: 0;
	}
}

@media (max-width: 542px) {
	.header-container .header-minicart-container {
		margin-top: 0;
	}
}

@media (max-width: 400px) {
	.header-container .header-small-cont.menu-small {
		.small {
			display: none;
		}
	}
}