<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento enterprise edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShip()) : ?>
<tr class="aw-onestepchekocut-column aw-onestepchekocut-column-middle">
    <td><?php echo $this->__('Livraison') ?></td>
    <td id="aw-onestepcheckout-shipping-method-wrapper" class="aw-onestepcheckout-add-loader-into-this-block">
        <div id="aw-onestepcheckout-shipping-method">
            <?php $_shippingRateGroups = $this->getShippingRates(); ?>
            <?php if (!$_shippingRateGroups) : ?>
                <p><?php echo $this->__('Aucun mode de livraison nest disponible pour votre demande. Veuillez nous contacter, ou modifier votre panier.') ?></p>
            <?php else : ?>
                <dl class="sp-methods">
                    <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates): ?>
                        <dd>
                            <ul>
                            <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate): ?>
                                <li>
                                    <?php if ($_rate->getErrorMessage()): ?>
                                        <?php echo $this->escapeHtml($_rate->getErrorMessage()) ?>
                                    <?php else: ?>
                                        <div class="radio">
                                            <?php // Ajout DPD France - ajout radioCheck au load + onClick="radioCheck()" sur les boutons radio pour afficher/masquer les div DPD Relais et Predict ?>
                                            <?php echo '<script type="text/javascript">radioCheck();</script>'; ?>
                                            <?php if ($_sole) : ?>
                                                <span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" /></span>
                                            <?php else: ?>
                                                <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?><?php echo $_rate->getCarrier()=='dpdfrrelais' || $_rate->getCarrier()=='dpdfrpredict' ? ' onClick="radioCheck()"' : ''; ?>/>
                                            <?php endif; ?>
                                            <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                            <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?> : <strong><?php echo $_incl; ?></strong>
                                            </label>
                                        </div>
                                    <?php endif ?>
                                </li>
                            <?php endforeach; ?>
                            </ul>
                        </dd>
                    <?php endforeach; ?>
                </dl>
                <div class="validation-advice" style="display: none;"></div>
            <?php endif; ?>
        </div>
    </td>
    <?php echo $this->getChildHtml('extra');?>
</tr>
<script type="text/javascript">
    window.awOSCShipment = new AWOnestepcheckoutShipment({
        containerSelector: "#aw-onestepcheckout-shipping-method-wrapper",
        switchMethodInputsSelector: "input[type='radio'][name='shipping_method']",
        saveShipmentUrl: <?php echo Zend_Json::encode($this->getSaveShipmentUrl());?>
    });
</script>
<?php endif; ?>