<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento enterprise edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<header class="section-header header-sm t-dark">
    <div class="container top-element p-t-0">
        <div class="row top-text">
            <i class="nc-icon-outline shopping_credit-locked header-icon"></i>
            <h1 class="header-title t-important m-b-0"><?php echo $this->__('Commande') ?></h1>
        </div>
    </div>
</header>

<script>
ga('ec:setAction','checkout', {
    'step': 1
});
ga('send', 'event', 'ecomm', 'checkout');
</script>

<section id="aw-onestepcheckout-container" class="section section-checkout">
    <div id="aw-onestepcheckout-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <?php echo $this->getChildHtml('auth'); ?>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="coupon-wrapper">
                        <p id="toggle-coupon">
                          <?php echo $this->__('Vous avez un coupon ?') ?> <a href="javascript:void(0);"><?php echo $this->__('Cliquez ici') ?></a>
                        </p>
                        <?php echo $this->getChildHtml('review.coupon'); ?>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="aw-onestepcheckout-row" id="aw-onestepcheckout-general-container">
            <form id="aw-onestepcheckout-general-form" method="post" action="#">
                <div class="container p-b-60">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="aw-onestepchekocut-column aw-onestepchekocut-column-left">
                                <div id="aw-onestepcheckout-address-wrapper">
                                    <?php echo $this->getChildHtml('address'); ?>
                                    <?php if ($this->customerHasAddresses()): ?>
                                        <?php echo $this->getChildHtml('dpd_relay'); ?>
                                    <?php endif ?>
                                </div>
                            </div>
                        </div><!-- IE9 hack. don't remove this comment
                        --><div class="col-lg-7 col-md-7">
                            <?php if (!$this->customerHasAddresses()): ?>
                                <div class="col-right-relay">
                                    <?php echo $this->getChildHtml('dpd_relay'); ?>
                                </div>
                            <?php endif ?>
                            <div class="cart-wrapper checkout" id="aw-onestepcheckout-order-review">
                                <h4 class="t-important"><?php echo $this->__('Votre commande') ?></h4>
                                <div class="aw-onestepchekocut-column aw-onestepchekocut-column-right">
                                    <table class="table table-cart" id="aw-onestepcheckout-order-review-cart-wrapper">
                                        <tbody>
                                            <?php echo $this->getChildHtml('review.items'); ?>
                                        </tbody>
                                    </table>
                                    <div class="aw-onestepchekocut-column aw-onestepchekocut-column-middle">
                                        <div id="aw-onestepcheckout-payment-method-wrapper">
                                            <?php echo $this->getChildHtml('paymentmethod'); ?>
                                        </div>
                                    </div>
                                    
                                </div><!-- IE9 hack. don't remove this comment
                                --><div class="aw-onestepchekocut-column aw-onestepchekocut-column-right">
                                    <div id="aw-onestepcheckout-order-review">
                                        
                                        <div id="aw-onestepcheckout-place-order">
                                            <button type="button" title="<?php echo $this->__('Commander'); ?>" id="aw-onestepcheckout-place-order-button" class="btn btn-lg btn-block btn-primary btn-order m-b-10"><span class="aw-onestepcheckout-place-order-grand-total">
                                                    <span class="aw-onestepcheckout-place-order-amount" style="display:none;"></span>
                                                    <span class="aw-onestepcheckout-place-order-process" style="display:none;">
                                                    </span>
                                                </span>
                                                <span class="aw-onestepcheckout-place-order-title"><?php echo $this->__('Commander'); ?></span>
                                            </button>
                                            <div class="aw-onestepcheckout-place-order-please-wait">
                                                <?php echo $this->__('Merci de patienter, nous traitons votre demande...') ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="aw-onestepcheckout-popup" class="aw-onestepcheckout-popup" style="display:none">
                <div id="aw-onestepcheckout-popup-content" class="aw-onestepcheckout-popup-content"></div>
                <div id="aw-onestepcheckout-popup-accept" class="aw-onestepcheckout-popup-accept">
                    <button type="button"><?php echo $this->__('ACCEPT');?></button>
                    <a href="javascript:void(0)"><?php echo $this->__('Close');?></a>
                </div>
            </div>
            <div id="aw-onestepcheckout-overlay" class="aw-onestepcheckout-popup-overlay aw-onestepcheckout-overlay aw-onestepcheckout-overlay-48 aw-onestepcheckout-popup-overlay" style="display:none"></div>
            <script type="text/javascript">
                var awOSCForm = new AWOnestepcheckoutForm({
                    formId: 'aw-onestepcheckout-general-form',
                    cartContainerSelector: "#aw-onestepcheckout-order-review-cart-wrapper",
                    // validate shipping and payment
                    shippingMethodName: 'shipping_method',
                    shippingMethodAdvice: '#aw-onestepcheckout-shipping-method .validation-advice',
                    shippingValidationMessage: "<?php echo $this->__('Please specify shipping method.'); ?>",
                    shippingMethodWrapperSelector: '#aw-onestepcheckout-shipping-method .sp-methods',
                    paymentMethodName: 'payment[method]',
                    paymentMethodAdvice: '#aw-onestepcheckout-payment-method dl+.validation-advice',
                    paymentValidationMessage: "<?php echo $this->__('Please specify payment method.'); ?>",
                    paymentMethodWrapperSelector: '#aw-onestepcheckout-payment-method .sp-methods',
                    //place order functionality
                    placeOrderUrl: '<?php echo $this->getPlaceOrderUrl(); ?>',
                    successUrl: '<?php echo $this->getUrl('checkout/onepage/success'); ?>',
                    placeOrderButtonSelector: 'aw-onestepcheckout-place-order-button',
                    granTotalAmountSelector: '.aw-onestepcheckout-place-order-amount',
                    granTotalAmountProcessSelector: '.aw-onestepcheckout-place-order-process',
                    pleaseWaitNoticeSelector: '.aw-onestepcheckout-place-order-please-wait',
                    overlayId: 'aw-onestepcheckout-place-order-overlay',
                    disabledClassName: 'aw-onestepcheckout-place-order-button-disabled',
                    popup: {
                        overlaySelector: "#aw-onestepcheckout-overlay",
                        containerSelector: "#aw-onestepcheckout-popup",
                        contentContainerSelector: "#aw-onestepcheckout-popup-content",
                        acceptContainerSelector: "#aw-onestepcheckout-popup-accept",
                        buttons: {
                            accept:{
                                selector: "#aw-onestepcheckout-popup-accept button",
                                enabled: false
                            },
                            close:{
                                selector: "#aw-onestepcheckout-popup-accept a",
                                enabled: false
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</section>
<script type="text/javascript">
    AWOnestepcheckoutCore.updateNumbers();
    AWOnestepcheckoutCore.updater.setConfig({
        loaderConfig: {
            '48px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-48',
            '24px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-24',
            '16px': 'aw-onestepcheckout-overlay aw-onestepcheckout-overlay-16'
        },
        map: <?php echo Zend_Json::encode($this->getBlockMap());?>,
        blocks: [
            ['address', '#aw-onestepcheckout-address-wrapper'],
            ['shipping_method', '#aw-onestepcheckout-shipping-method-wrapper'],
            ['payment_method', '#aw-onestepcheckout-payment-method-wrapper'],
            ['review_cart', '#aw-onestepcheckout-order-review-cart-wrapper'],
            ['review_coupon', '#aw-onestepcheckout-order-review-coupon-wrapper'],
            ['review_storecredit', '#aw-onestepcheckout-order-review-storecredit-wrapper'],
            ['review_enterprise_giftcard', '#aw-onestepcheckout-order-review-enterprise-giftcard-wrapper'],
            ['review_aw_giftcard', '#aw-onestepcheckout-order-review-aw-giftcard-wrapper'],
            ['review_enterprise_storecredit', '#aw-onestepcheckout-order-review-enterprise-storecredit-wrapper'],
            ['review_enterprise_points', '#aw-onestepcheckout-order-review-enterprise-points-wrapper'],
            ['review_points', '#aw-onestepcheckout-order-review-points-wrapper'],
            ['review_referafriend', '#aw-onestepcheckout-order-review-referafriend-wrapper']
        ],
        loaderToBlockCssClass: 'aw-onestepcheckout-add-loader-into-this-block',
        popup: {
            overlaySelector: "#aw-onestepcheckout-overlay",
            containerSelector: "#aw-onestepcheckout-popup",
            contentContainerSelector: "#aw-onestepcheckout-popup-content",
            acceptContainerSelector: "#aw-onestepcheckout-popup-accept",
            buttons: {
                accept:{
                    selector: "#aw-onestepcheckout-popup-accept button",
                    enabled: false
                },
                close:{
                    selector: "#aw-onestepcheckout-popup-accept a",
                    enabled: true
                }
            }
        }
    });
</script>