<?php
/**
 * Onio.
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. Onio does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   Onio
 * @package    Menu
 * @version    1.0.0
 * @copyright  Copyright (c) 2017-2017 Onio. 
 */

/** @var $this Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Price_Group */
$_htmlId = $this->getElement()->getHtmlId();
$_htmlClass = $this->getElement()->getClass();
$_htmlName = $this->getElement()->getName();
?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <td colspan="10" class="grid tier">
    <table cellspacing="0" class="data border" id="onio_menu_table" attr-table="onio_menu_table">
        <col width="120" />
        <col />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th></th>
                <th><?php echo Mage::helper('onio_menu')->__('Label'); ?></th>
                <th><?php echo Mage::helper('onio_menu')->__('Type'); ?></th>
                <th><?php echo Mage::helper('onio_menu')->__('Lien') ?></th>
                <th><?php echo Mage::helper('onio_menu')->__('Rouge') ?></th>
                <th><?php echo Mage::helper('onio_menu')->__('Enfants ?') ?></th>
                <th class="last"></th>
            </tr>
        </thead>
        <tbody id="<?php echo $_htmlId; ?>_container"></tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="a-right"><?php echo $this->getAddButtonHtml(); ?></td>
            </tr>
        </tfoot>
    </table>
<script type="text/javascript">
//<![CDATA[
var onio_menuPromoRowTemplate = '<tr>'
    + '<td class="sorter"><img src="<?php echo $this->getSkinUrl('onio/images/arrow_sort_move.png', array('_secure'=>true)); ?>" /></td>'
    + '<td><input name="<?php echo $_htmlName; ?>[{{index}}][label]" id="onio_menu_row_{{index}}_label" value="{{label}}" type="text" class="<?php echo $_htmlClass; ?> required-entry input-text input-menu-label"></td>'

    + '<td><select name="<?php echo $_htmlName; ?>[{{index}}][type]" id="onio_menu_row_{{index}}_type" class="<?php echo $_htmlClass; ?> required-entry onio-menu-type-select">'
    + '<option value="sel_type_product"><?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Produits')); ?></option>'
    + '<option value="sel_type_category"><?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Catégories & Pages')); ?></option>'
    + '</select></td>'

    + '<td>'

    + '<select class="<?php echo $_htmlClass; ?> select2 required-entry product-type-select onio-type-product" data-id="{{index}}" name="<?php echo $_htmlName; ?>[{{index}}][link]" id="onio_menu_row_{{index}}_link">'
    + '<option vale=""></option>'
    <?php foreach ($this->getCategories() as $_catId => $_catName): ?>
    + '<option value="category_<?php echo $_catId; ?>"><?php echo $this->jsQuoteEscape($this->escapeHtml($_catName)); ?></option>'
    <?php endforeach; ?>
    + '</select>'

    + '<select class="<?php echo $_htmlClass; ?> select2 required-entry page-type-select onio-type-category" data-id="{{index}}" name="<?php echo $_htmlName; ?>[{{index}}][link]" id="onio_menu_row_{{index}}_link">'
    + '<option vale=""></option>'
    + '<optgroup label="<?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Catégories')); ?>">'
    + '<option value="category_0"><?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Toutes')); ?></option>'
    <?php foreach ($this->getCategories() as $_catId => $_catName): ?>
    + '<option value="category_<?php echo $_catId; ?>"><?php echo $this->jsQuoteEscape($this->escapeHtml($_catName)); ?></option>'
    <?php endforeach; ?>
    + '</optgroup>'
    + '<optgroup label="<?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Pages CMS')); ?>">'
    <?php foreach ($this->getPages() as $_pageId => $_pageName): ?>
    + '<option value="page_<?php echo $_pageId; ?>"><?php echo $this->jsQuoteEscape($this->escapeHtml($_pageName)); ?></option>'
    <?php endforeach; ?>
    + '</optgroup>'
    + '</select>'

    + '</td>'

    + '<td><input name="<?php echo $_htmlName; ?>[{{index}}][important]" id="onio_menu_row_{{index}}_important" value="1" type="checkbox" class="<?php echo $_htmlClass; ?>"></td>'

    + '<td><input name="<?php echo $_htmlName; ?>[{{index}}][child]" id="onio_menu_row_{{index}}_child" value="1" type="checkbox" class="<?php echo $_htmlClass; ?>"></td>'

    + '<td class="last"><input type="hidden" name="<?php echo $_htmlName; ?>[{{index}}][delete]" class="delete" value="" id="onio_menu_row_{{index}}_delete" />'
    + '<button title="<?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Supprimer')); ?>" type="button" class="scalable delete icon-btn delete-product-option" id="onio_menu_row_{{index}}_delete_button" onclick="return menuControl.deleteItem(event);">'
    + '<span><?php echo $this->jsQuoteEscape(Mage::helper('onio_menu')->__('Supprimer')); ?></span></button></td>'
    + '</tr>';

var menuControl = {
    template: new Template(onio_menuPromoRowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', '')),
    itemsCount: 0,
    addItem : function () {
        var data = {
            label: '',
            link: '',
            important: '0',
            child: '0',
            index: this.itemsCount++
        };

         if(arguments.length == 4) {
            data.label = arguments[0];
            data.link = arguments[1];
            data.important = arguments[2];
            data.child = arguments[3];
        }

        Element.insert($('<?php echo $_htmlId; ?>_container'), {
            bottom : this.template.evaluate(data)
        });

        if (data.important == 1) {
            document.getElementById("onio_menu_row_"+data.index+"_important").checked = true;
        }
        if (data.child == 1) {
            document.getElementById("onio_menu_row_"+data.index+"_child").checked = true;
        }

        $('onio_menu_row_' + data.index + '_link').value = data.link;
        var curSelect = jQuery('#onio_menu_row_' + data.index + '_link');
        curSelect.select2();
        checkElem(curSelect.find(':selected'), curSelect);
        curSelect.on("change", function (e) {
            var selected = jQuery(':selected', this);
            checkElem(selected, jQuery(this));
        });

    },
    deleteItem: function(event) {
        var tr = Event.findElement(event, 'tr');
        if (tr) {
            Element.select(tr, '.delete').each(function(element) {
                element.value='1';
            });
            Element.select(tr, ['input', 'select']).each(function(element) {
                element.hide();
            });
            Element.hide(tr);
            Element.addClassName(tr, 'no-display template');
        }
        return false;
    }
};
<?php foreach ($this->getValues() as $_item) : ?>
menuControl.addItem('<?php echo $_item['label']; ?>', '<?php echo $_item['link']; ?>', '<?php echo $_item['important']; ?>', '<?php echo $_item['child']; ?>');
<?php endforeach; ?>
//]]>
function checkElem(selected, elm) {
    var groupLabel = selected.closest('optgroup').attr('label');
    if (groupLabel) {
        var dataId = elm.attr('data-id');

        var isCms = groupLabel.match(/cms/i);
        if (isCms) {
            jQuery('#onio_menu_row_'+dataId+'_child').hide();
        }
        else {
            if (elm.val() == 'category_0') {
                jQuery('#onio_menu_row_'+dataId+'_child').hide();       
            }
            else {
                jQuery('#onio_menu_row_'+dataId+'_child').show();
            }
        }
    }
}
jQuery('.page-type-select').on("change", function (e) {
    var selected = jQuery(':selected', this);
    checkElem(selected, jQuery(this));
});
</script>
</td></tr>